= render layout: 'left_nav' do
  = render partial: 'contact'
  = render partial: 'embargo'
  %a(href="#top" class="pull-right" ) Go to Top
  %hr
  = render partial: 'license'
  %a(href="#top" class="pull-right" ) Go to Top
  %hr
  = render partial: 'fix'