= render layout: 'sensitive_left_nav' do
  -#= flash.each do |key, value|
  -#  .alert.alert-info
  -#    = sanitize(value)
  = render partial: 'sensitive_contact'
  = render partial: 'embargo'
  %a(href="#top" class="pull-right" ) Go to Top
  %hr
  = render partial: 'license'
  %a(href="#top" class="pull-right" ) Go to Top
  %hr
  = render partial: 'fix'