.bs-callout.bs-callout-info.idb-help(id="api_upload_simple")
  %br
  %hr
  %h1 Simple File Upload API
  %hr
  %p
    The
    %a(href="#api_upload_simple" )simple
    one-call protocol supports files
    %emp up to 4GB
    in size, to an existing draft dataset with an authentication token and dataset key as described in the
    =succeed(".") do
      %a(href="#top") overview
  %p
    The basic URL pattern is
    = %Q[#{IDB_CONFIG[:root_url_text]}/api/dataset/[dataset key]/datafile]
  %p The request method is POST.
  %p The authorization token must be sent in a header.
  %p A header setting the Transfer-Encoding to chunked is recommended.
  %p The file must be sent in a form in an element named binary.  In cURL, that can be done with the -F option and an element like "binary=@my_datafile.csv".
  %p If using cURL, the -o option must be used to send response output to a file to see the progress meter.
  %p Even after the cURL progress meter reaches 100%, additional processing is done, which may take as long as it took to reach 100%.
  -if IDB_CONFIG[:root_url_text].include?("dev")
    %p For rds-dev only, -k at at the end of the cURL command makes it tolerate the self-signed certificate.
  -else
  %p After upload is complete, refresh the dataset page to see the new datafile listing.


  %h3 Example cURL command for simple protocol:
  %pre
    %code
      = %Q[curl -F "binary=@my_datafile.csv" -H "Authorization: Token token=authentication_token" -H "Transfer-Encoding: chunked" -X POST #{IDB_CONFIG[:root_url_text]}/api/dataset/dataset_key/datafile -o output.txt]
      -if IDB_CONFIG[:root_url_text].include?("dev")
        = %Q[-k]