- if (can? :edit, @dataset)
  .idb-dashboard.panel.panel-warning
    -#.panel-heading
    -#  %span(class="metadata-label" )Dataset Dashboard
    .panel-body
      .row
        .col-md-9
          -if @dataset.has_datacite_change &&  [Databank::PublicationState::Embargo::FILE, Databank::PublicationState::RELEASED, Databank::PublicationState::PermSuppress::FILE].include?(@dataset.publication_state)
            .datacite-changes-warning
              %span(class="glyphicon glyphicon-alert" )
              Changes have been made to this dataset record that have not yet been published.  Confirm to complete changes.
          -if @dataset.publication_state == Databank::PublicationState::Embargo::METADATA && (@dataset.embargo != Databank::PublicationState::Embargo::METADATA)
            .datacite-changes-warning
              %span(class="glyphicon glyphicon-alert" )
              This dataset record has not yet been published.  Confirm to complete changes.

          -if @completion_check != 'ok'
            .completion-warning
              %span(class="glyphicon glyphicon-alert" )
              = @completion_check
              - if @dataset.publication_state == Databank::PublicationState::DRAFT || (can? :manage, @dataset)
                Edit to complete dataset.
          %span(class="glyphicon glyphicon-eye-open" )
          %span(class="metadata-label" ) Visibility:
          = @dataset.visibility
          %br
          -# if publication state is embargo or hold_state is one of the suppression states, display private info message
          - if ( ([Databank::PublicationState::Embargo::METADATA, Databank::PublicationState::Embargo::FILE].include?(@dataset.publication_state) ||  ( (@dataset.publication_state != Databank::PublicationState::DRAFT) && ([Databank::PublicationState::TempSuppress::FILE, Databank::PublicationState::TempSuppress::METADATA].include?(@dataset.hold_state)))) && (!can? :manage, @dataset))
            Private information is displayed because you are the depositor of this dataset. To see the public view,
            %button(class='my_clip_button btn btn-sm btn-default' data-clipboard-target='fe_text' data-clipboard-text="https://doi.org/#{@dataset.identifier}" id='dashbaord_clip_button' title='Click me to copy persistent link to clipboard.')
              %span(class="glyphicon glyphicon-copy")
              %b copy link to clipboard
            to follow after you
            %button(class="btn btn-sm btn-default" onclick='window.location = "/logout"' )
              log out.
            %br
          %span(class="glyphicon glyphicon-triangle-right" )
          %span(class="metadata-label" ) Progress:
          View dataset page here.

          - if @dataset.publication_state == Databank::PublicationState::DRAFT || (can? :manage, @dataset)
            Edit to make changes.
          - else
            You can edit the description for the dataset to correct an error, but you would need to contact the
            %a(href="/help#contact" )Research Data Service
            if there is an error in the files that needs to be corrected.
          -if @completion_check == 'ok' && (@dataset.publication_state == Databank::PublicationState::DRAFT || (@dataset.has_datacite_change && [Databank::PublicationState::RELEASED, Databank::PublicationState::Embargo::FILE, Databank::PublicationState::PermSuppress::FILE].include?(@dataset.publication_state) ) )
            Click Confirm for final confirmation and to publish this dataset.
          -if @dataset.publication_state == Databank::PublicationState::Embargo::METADATA && @dataset.embargo != Databank::PublicationState::Embargo::METADATA
            Click Confirm for final confirmation and to publish changes to this dataset.
          %br
          %span(class="glyphicon glyphicon-info-sign")
          Research Data Service team members are available to discuss this dataset in more depth.
          %button(type="button" onclick='window.location= "/help?context=review&key=#{@dataset.key}"' class="btn btn-success")
            %span(class="glyphicon glyphicon-question-sign")
            Request Dataset Review

        .col-md-3
          -# confirm button conditional complex, so broken into two statements
          -if @completion_check == 'ok' && (@dataset.publication_state == Databank::PublicationState::DRAFT || (@dataset.has_datacite_change && [Databank::PublicationState::RELEASED, Databank::PublicationState::Embargo::FILE, Databank::PublicationState::PermSuppress::FILE].include?(@dataset.publication_state) ) )
            %button(type="button" id="show-confirm-modal-link" class="btn btn-primary btn-block" data-toggle="modal" data-target="#deposit")
              Confirm
              %span(class="glyphicon glyphicon-triangle-right" )
          -if @dataset.publication_state == Databank::PublicationState::Embargo::METADATA && @dataset.embargo != Databank::PublicationState::Embargo::METADATA
            %button(type="button" id="show-confirm-modal-link" class="btn btn-primary btn-block" data-toggle="modal" data-target="#deposit")
              Confirm
              %span(class="glyphicon glyphicon-triangle-right" )
          = link_to(edit_dataset_path(@dataset), :class => "btn idb btn-info btn-block") do
            %span(class="glyphicon glyphicon-edit")
            Edit
          - if @dataset.publication_state == Databank::PublicationState::DRAFT
            = link_to(dataset_path(@dataset.key), method: :delete, data: {confirm: 'Are you sure? This removes all files and metadata.'}, class: "btn idb btn-danger btn-block") do
              %span(class="glyphicon glyphicon-trash" )
              Delete
          - else
            %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
              %span(class="glyphicon glyphicon-ban-circle" )
              Cancel

