.modal.fade.modal-lg(id="api_modal" role="dialog" )
  .modal-content
    .modal-header
      %a(href="#" class="close" data-dismiss="modal")
        &times;
      %h1 OPTIONS: Python, cURL, or custom script

    .modal-body


      %strong Dataset Key:
      =@dataset.key
      .current-token

      .text-center
        %button(type="button" onclick="getNewToken()" class="btn btn-primary token-btn" )
          Get Token

      %h3
        Download our sample Python client
        %a(href="#{IDB_CONFIG[:root_url_text]}/illinois_data_bank_datafile.py" target="_blank" ) illinois_data_bank_datafile.py
      .indent
        %p
          Requires recent version of
          =succeed(",") do
            %a(href="https://www.python.org/" ) Python 2 or 3
          works on files up to 2 TB
        %em Required Modules
        %pre
          %code
            = simple_format("pip install docopt\npip install requests\npip install urllib3[secure]")

        %em Usage Example
        .command-to-copy
          %pre
            %code
              ="python illinois_data_bank_datafile.py #{@dataset.key} [TOKEN] myfile.csv #{IDB_CONFIG[:root_url_text].include?("dev") ? 'development':''}"

      %h3 Execute a cURL command
      .indent
        %p
          Requires
          =succeed(",") do
            %a(href="https://curl.haxx.se/" target="_blank" ) cURL
          works on files up to 4 GB

        .curl-to-copy
          %pre
            %code
              = %Q[curl -F "binary=@my_datafile.csv" -H "Authorization: Token token=authentication_token" -H "Transfer-Encoding: chunked" -X POST #{IDB_CONFIG[:root_url_text]}/api/dataset/dataset_key/datafile -o output.txt]
              -if IDB_CONFIG[:root_url_text].include?("dev")
                = %Q[-k]

      %h3 Create your own program using our API
      .indent
        %em Size constraints depend on implementation details.

        %br
        %p
          See the
          =succeed(",") do
            %a(href="/help#api" ) Command Line Tools / API Reference
          or
          =succeed(".") do
            %a(href="/help#contact") Contact Us

    .modal-footer
      .control-group
        .controls
          %button(type="button" class="btn btn-danger" data-dismiss="modal")
            %span(class="glyphicon glyphicon-remove" )
            Close
