.modal.fade.modal-lg(id="api_modal" role="dialog" )
  .modal-content
    .modal-header
      %a(href="#" class="close" data-dismiss="modal")
        &times;
      %h3 Illinois Data Bank File Upload API

    .modal-body

      %h3 API Overview
      %ul
        %li This API is for uploading files to datasets, up to a total of 2TB per PI per year.
        %li The API for uploading a file to a dataset requires a token, which can be requested here.
        %li A token expires in 3 days, but a new one can be requested here.
        %li Anyone can use this token to upload a file to this dataset, so keep it secure.
        %li This API can only be used on a draft datasets - before it is published or scheduled for publication.
        %li
          The basic URL pattern is
          = %Q[#{IDB_CONFIG[:root_url_text]}/api/dataset/[dataset key]/datafile]
        %li The request method is POST.
        %li The authorization token must be sent in a header.
        %li If using cURL, the -o option must be used to send response output to a file to see the progress meter.
        %li Even after the cURL progress meter reaches 100%, additional processing is done, which may take as long as it took to reach 100%.
        -if IDB_CONFIG[:root_url_text].include?("dev")
          %li For rds-dev only, -k at at the end of the cURL command makes it tolerate the self-signed certificate.
        -else
          = IDB_CONFIG[:key_previx]
        %li After upload is complete, refresh the dataset page to see the new datafile listing.
      .current-token
        -if @token
          %strong Current HTTP Authentication Token:
          = @token.identifier
          %br
          %strong Expires:
          = @token.expires.iso8601
      %strong Dataset Key:
      =@dataset.key

      %h3 Example cURL command:

      -if @token
        %pre
          %code
            = %Q[curl -F "binary=@my_datafile.csv" -H "Authorization: Token token=#{@token.identifier}" -H "Transfer-Encoding: chunked" -X POST #{IDB_CONFIG[:root_url_text]}/api/dataset/#{@dataset.key}/datafile -o output.txt]
            -if IDB_CONFIG[:root_url_text].include?("dev")
              = %Q[-k]

      -else
        %pre
          %code
            = %Q[curl -F "binary=@my_datafile.csv" -H "Authorization: Token token=authentication_token" -H "Transfer-Encoding: chunked" -X POST #{IDB_CONFIG[:root_url_text]}/api/dataset/dataset_key/datafile -o output.txt]
            -if IDB_CONFIG[:root_url_text].include?("dev")
              = %Q[-k]

      %button(type="button" onclick="getToken()" class="btn btn-primary" )
        Get New Token

    .modal-footer
      .control-group
        .controls
          %button(type="button" class="btn btn-danger" data-dismiss="modal")
            %span(class="glyphicon glyphicon-remove" )
            Close
