.modal.fade.modal-lg(id="api_modal" role="dialog" )
  .modal-content
    .modal-header
      %a(href="#" class="close" data-dismiss="modal")
        &times;
      %h3 Illinois Data Bank File Upload API

    .modal-body
      %p
        The Illinois Data Bank file upload APIs allow you to upload a file to a draft dataset - before it is published or scheduled for publication. The
        %a(href="/api#api_upload_simple" )simple
        one-call protocol supports files
        %emp up to 4GB
        in size. The
        %a(href="/api#api_upload_complex" )complex
        protocol requires several coordinated calls, but supports files
        %em up to 2TB
        and is more tolerant of variations in connectivity.

      %p
        For help, see the
        %a(href="/api" )
          %strong API Reference
        or
        =succeed(".") do
          %a(href="/help#contact") Contact Us

      .current-token
        -if @token
          %strong Current HTTP Authentication Token:
          = @token.identifier
          %br
          %strong Expires:
          = @token.expires.iso8601
      %strong Dataset Key:
      =@dataset.key

      -if @token
        %h3 Example cURL command for the simple protocol:
        %pre
          %code
            = %Q[curl -F "binary=@my_datafile.csv" -H "Authorization: Token token=#{@token.identifier}" -H "Transfer-Encoding: chunked" -X POST #{IDB_CONFIG[:root_url_text]}/api/dataset/#{@dataset.key}/datafile -o output.txt]
            -if IDB_CONFIG[:root_url_text].include?("dev")
              = %Q[-k]

      %button(type="button" onclick="getToken()" class="btn btn-primary" )
        Get New Token

    .modal-footer
      .control-group
        .controls
          %button(type="button" class="btn btn-danger" data-dismiss="modal")
            %span(class="glyphicon glyphicon-remove" )
            Close
