.modal.fade.modal-lg(id="api_modal" role="dialog" )
  .modal-content
    .modal-header
      %a(href="#" class="close" data-dismiss="modal")
        &times;
      %h3 Illinois Data Bank File Upload Command Tools

    .modal-body
      %h4 Existing Draft Dataset Required
      .indent
        %p
          The Illinois Data Bank file upload API protocols allow you to upload a file programatically, or from a command line. Files can only be uploaded to a draft dataset - after the deposit agreement has been accepted and before the dataset is published or scheduled for publication.
      %h4 Sample Python Client
      .indent
        %p
          If you would like to use our sample Python client, you can download
          %a(href="#{IDB_CONFIG[:root_url_text]}/illinois_data_bank_datafile.py" target="_blank" ) illinois_data_bank_datafile.py
          and use it with recent versions of Python 2 or 3. Package dependencies: requests and docopts. For help,
          %a(href="/help#contact" )contact the Research Data Service.

        .client-example
          Required python packages:
          %br
          .indent
            pip install docopt
            %br
            pip install requests
          %div(id="command-to-copy")
            -if @token
              Example command template:
              .indent
                ="python illinois_data_bank_datafile.py #{@dataset.key} #{@token.identifier} myfile.csv #{IDB_CONFIG[:root_url_text].include?("dev") ? 'development':''}"
          Usage:
          %br
          .indent
            ="python illinois_data_bank_datafile.py [-h] <DATASET> <TOKEN> <FILE> [<SYSTEM>]"
          Arguments:
          %br
          .indent
            FILE - input file
            %br
            DATASET - dataset key
            =surround("(",")") do
              =@dataset.key
            %br
            TOKEN - API token
            -if @token
              =surround("(",")") do
                =@token.identifier
            -else
              obtained below
            %br
            SYSTEM - optional, for testing (local | development | production), default is production
          Options:
          %br
          .indent
            ="-h --help"

      %h4 Custom Support
      .indent
        %p
          The
          %a(href="/help#api_upload_simple" )simple
          one-call protocol supports files
          %em up to 4GB
          in size.
        %p
          The
          %a(href="/help#api_upload_complex" )complex
          protocol requires several coordinated calls, but supports files
          %em up to 2TB
          and is more tolerant of variations in connectivity.

        %p
          For more help, see the
          =succeed(",") do
            %a(href="/help#api" ) API Reference
          or
          =succeed(".") do
            %a(href="/help#contact") Contact Us

      .current-token
        -if @token
          %strong Current HTTP Authentication Token:
          = @token.identifier
          %br
          %strong Expires:
          = @token.expires.iso8601
      %strong Dataset Key:
      =@dataset.key
      %br
      -if @token
        .text-center
          %button(type="button" onclick="getToken()" class="btn btn-primary token-btn" )
            Get New Token
      -else
        .text-center
          %button(type="button" onclick="getToken()" class="btn btn-primary token-btn" )
            Get Token

    .modal-footer
      .control-group
        .controls
          %button(type="button" class="btn btn-danger" data-dismiss="modal")
            %span(class="glyphicon glyphicon-remove" )
            Close
