-if((can? :maange, dataset) || (can? :edit, dataset) || ([Databank::PublicationState::RELEASED, Databank::PublicationState::TempSuppress::FILE, Databank::PublicationState::Embargo::FILE].include?(dataset.publication_state) ) )

  -if current_user
    -current_email = current_user.email
  -else
    -current_email = 'placeholder@mailinator.com'

  .record

    -if(can? :manage, dataset)

      .curator-only
        .label.label-default
          ="updated: #{@dataset.updated_at.to_date.iso8601}"
        &nbsp;
        .label.label-default
          ="ingest: #{@dataset.ingest_datetime.to_date.iso8601}"
        &nbsp;
        .label.label-default
          ="release: #{@dataset.release_datetime.to_date.iso8601}"
        &nbsp;
        .label.label-default
          =Indexable.visibility_name_from_code(dataset.visibility_code)
          
        -if dataset.hold_state != 'none'
          &nbsp;
          .label.label-danger
            suppressed by curator
      %br


    -if dataset.publication_state != Databank::PublicationState::DRAFT && dataset.release_date
      .label.label-info
        -if dataset.release_date > Time.now()
          planned publication date:
        -else
          published:
        =dataset.release_date.iso8601
      &nbsp;

    .record_citation
      %a(href="/datasets/#{dataset.key}" )
        %strong
          =dataset.plain_text_citation

    -if dataset.description && dataset.description != ""
      %em
        .more
          =dataset.description

    -if dataset.keywords && dataset.keywords != ""
      .keyword_display
        keywords:
        %em
          =dataset.keywords

    -if(can? :manage, dataset)
      .depositor_display
        %span(class="metadata-label" ) Depositor:
        = "#{dataset.depositor_name},"
        = dataset.depositor_email



