-if((can? :maange, dataset) || (can? :edit, dataset) || ([Databank::PublicationState::RELEASED, Databank::PublicationState::TempSuppress::FILE, Databank::PublicationState::Embargo::FILE].include?(dataset.publication_state) ) )

  -if current_user
    -current_email = current_user.email
  -else
    -current_email = 'placeholder@mailinator.com'

  .record(class= "hit #{dataset.publication_state.gsub(' ','_')} #{dataset.license_class} #{dataset.mine_or_not_mine(current_email)}")

    -if(can? :manage, dataset)

      .label.label-default
        =dataset.publication_state
      &nbsp;

      -if dataset.hold_state != 'none'
        .label.label-danger
          =dataset.hold_state
        &nbsp;

      .label.label-primary
        created:
        =dataset.created_at.iso8601
      &nbsp;

    -if dataset.publication_state != Databank::PublicationState::DRAFT && dataset.release_date
      .label.label-info
        -if dataset.release_date > Time.now()
          planned publication date:
        -else
          published:
        =dataset.release_date.iso8601
      &nbsp;

    -if dataset.publication_state == Databank::PublicationState::DRAFT || ((dataset.release_date) && (dataset.publication_state != Databank::PublicationState::DRAFT && dataset.updated_at > dataset.release_date))
      .label.label-success
        updated:
        =dataset.updated_at.iso8601

    .record_citation
      %a(href="/datasets/#{dataset.key}" )
        %strong
          =dataset.plain_text_citation

    -if dataset.description && dataset.description != ""
      %em
        .more
          =dataset.description

    -if dataset.keywords && dataset.keywords != ""
      keywords:
      %em
        =dataset.keywords

    -if(can? :manage, dataset)
      .curator-only
        %span(class="metadata-label" ) Depositor:
        = dataset.depositor_name
        = ":"
        = dataset.depositor_email
        %br
        -#%span(class="metadata-label" ) Corresponding Creator:
        -#= (!dataset.corresponding_creator_name || dataset.corresponding_creator_name.empty?) ? "[corresponding creator name not yet provided]" : dataset.corresponding_creator_name
        -#=":"
        -#= (!dataset.corresponding_creator_email || dataset.corresponding_creator_email.empty?) ? "[corresponding creator email not yet provided]" : dataset.corresponding_creator_email



