<!-- Modal -->
<div class="modal fade" id="deposit" tabindex="-1" role="dialog" aria-labelledby="agreement-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          &times;
        </button>
        <hr><p><%= (@dataset.identifier && @dataset.identifier !='') ? "We've reserved a DOI for you: #{@dataset.identifier}, but your dataset is not yet published.":"<div id='your-doi-here'></div>".html_safe %></p><hr>

        <p>The Research Data Service reviews each dataset in 2-5 days.</p>
        <p>Reviews help you find errors, proofread for completeness, and control versions of the DOI.</p>
        <hr/>
        <div class="text-center">
          <h3>In which order do you want your dataset reviewed and published?</h3>
        </div>

        <table id="embargo_info_table", class="table table-bordered" >
          <tr class="idb-infographic-header" >
            <td>
              Review then Publish
            </td>
            <td><strong>OR</strong></td>
            <td>
              Publish then Review
            </td>
          </tr>
          <tr>
            <td>
              <h4>This action will initiate a dataset review.</h4><hr/>
              <p>
              <ul>
                <li>The DOI link will fail until the dataset is published after the review.</li>
                <br/>
                <li>After the review and any changes you agree to are made, you will have an opportunity to confirm the availability of the metadata and files for your dataset.</li>
              </ul>
              </p>
              <p class="text-center">
                <button onclick='window.location = "/datasets/<%=@dataset.key%>/request_review"' , type="button" class="btn btn-primary" data-dismiss="modal" id="login-button">
                  <span class="glyphicon glyphicon-question-sign"></span> Request Review
                </button>
              </p>

            </td>
            <td></td>
            <td>
              <p class="ds-paragraph"><%= Dataset.publish_modal_msg(@dataset).html_safe %></p>
              <p><strong><em>You may need a different DOI if a change happens.</em></strong></p>
              <p class="text-center">
                <button onclick='window.location = "/datasets/<%=@dataset.key%>/publish"' , type="button" class="btn btn-primary" data-dismiss="modal" id="login-button">
                  <span class="glyphicon glyphicon-send"></span> Publish
                </button>
              </p>
            </td>
          </tr>

        </table>
        <button onclick='window.location = "/datasets/<%=@dataset.key%>"' , type="button" class="btn btn-danger pull-right" data-dismiss="modal" id="help-button">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
        <hr/>
      </div>

    </div>
  </div>
</div>
