.nested-fields
  .row
    .col-md-2.col-md-offset-1
      .form-group
        = f.text_field :family_name, :class => "form-control", :placeholder => "e.g. Smith"
    .col-md-2
      .form-group
        = f.text_field :given_name, :class => "form-control", :placeholder => "e.g. John W., Jr."
    .col-md-2
      .form-group
        = f.text_field :identifier, :class => "form-control", :placeholder => "e.g. orcid.org/0000-0002-1825-0097"
    .col-md-2
      .form-group
        = f.check_box :is_contact
        %span(class="metadata-label" ) Primary Contact
    .col-md-2
      .form-group
        = f.text_field :email, :class => "form-control", :placeholder => "e.g. smith42@illinois.edu"
    .col-md-1
      = link_to_remove_association f, :class => "btn btn-danger btn-sm" do
        %span(class="glyphicon glyphicon-trash" )
        Creator
