%div(id="datafiles-form")
  %input(type="hidden" name="datafile_index_max" id="datafile_index_max" value="#{@dataset.datafiles.count.to_i}" )

  - if (params[:action] != 'new')
    .panel-group(id="files" role="tablist" aria-multiselectable="true")
      .panel.panel-default
        .panel-heading(role="tab" id="filesHeading")
          %h4(class="panel-title")
            %a(class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#files" href="#collapseFiles" aria-expanded="true" aria-controls="collapseFiles" )
              %span(class="metadata-label" ) Files
        .panel-collapse.collapse.in(id="collapseFiles" role="tabpanel" aria-labelledby="filesHeading" )
          .panel-body

            - if @dataset.has_deck_content
              .deckfiles_div
                %span(class="metadata-label") Files pending approval to be included in this dataset:
                %br
                %table(class="table table-striped" id="deckfiles_table")
                  %tbody
                    - @dataset.deck_filepaths.each do |filepath|
                      %tr
                        %td
                          .row
                            %span(class="col-md-4")
                              =filepath.split('/').last
                            %span(class="col-md-2" )
                              - if File.size?(filepath)
                                = number_to_human_size( File.size(filepath) )
                            %span(class="col-md-2")
                              %button(type="button" class="btn btn-block btn-primary" )
                                %span(class="glyphicon glyphicon-download" )
                                Download
                            %span(class="col-md-2")
                              %button(type="button" class="btn btn-block btn-success" )
                                %span(class="glyphicon glyphicon-check" )
                                Approve
                            %span(class="col-md-2" )
                              %button(type="button" class="btn btn-block btn-danger" )
                                %span(class="glyphicon glyphicon-trash" )
                                Remove
              %span(class="metadata-label" ) Other Files:
              %br

            For files larger than 500 MB, importing from Box is recommended.  For files larger than Box supports,
            = succeed '.' do
              %a(href="/help#contact")contact us
            %br
            Importing from Box happens in the background, so it is not necessary to keep your browser window open, but processing may be delayed at times of heavy system usage.
            %table(class="table table-striped" id="datafiles")
              %tbody
                - @dataset.datafiles.each_with_index do |datafile, i|

                  = f.fields_for :datafiles, datafile do |df|

                    - if datafile.bytestream_name != ""
                      -if datafile.job_status == :complete
                        %tr(id="datafile_index_#{i}")
                          %td
                            .row
                              %span(class="col-md-8")

                                = datafile.bytestream_name
                                %input(type="text" class="bytestream_name" value="#{datafile.bytestream_name}" )
                              %span(class="col-md-2")
                                = number_to_human_size(datafile.bytestream_size)
                              %span(class="col-md-2")
                                - if ( (@dataset.publication_state == Databank::PublicationState::DRAFT) && ((can? :manage, @dataset ) || ((can? :update, @dataset) && (!@dataset.complete?))) )
                                  %button(type="button" class="btn btn-danger btn-sm" onclick="remove_file_row(#{i})")
                                    %span(class="glyphicon glyphicon-trash")
                        = df.hidden_field :_destroy, value: false
                      -else
                        %tr(id="job#{datafile.job.id}")
                          %td
                            .row
                              %span(class="col-md-4")
                                = datafile.box_filename
                              %span(class="col-md-6")
                                %span(class="metadata-label")
                                  STATUS:
                                %span(class="metadata-value" )
                                  = datafile.job_status
                                %span(class="metadata-label" )
                                  | PROGRESS:
                                %span(class="metadata-value" )
                                  = number_to_human_size((datafile.job.progress_current) * 10000)
                                  of
                                  = datafile.box_filesize_display
                                %span(class="metadata-note" )
                                  (refresh page to update)
                              %span(class="col-md-2")
                                - if ((can? :manage, @dataset) || (can? :update, @dataset) && (!@dataset.complete?))
                                  %button(class="cancel-upload-btn btn btn-danger btn-sm" onclick="cancelUpload('#{datafile.web_id}', '#{datafile.job_id}')") Cancel

            %div(id="datafiles_upload_progress")









