%div(id="wrapper")
  %div(id="main-form-top")
    - if params[:action] == 'new'
      .deposit-agreement-warning
        You must agree to the Deposit Agreement before depositing data into Illinois Data Bank.
        %button(type="button" id="show-agreement-modal-link" class="btn btn-primary .deposit-agreement-btn" data-toggle="modal" data-target="#agreement") Deposit Agreement
        %a(href="http://researchdataservice.illinois.edu/contact-us/" class="btn btn-success" role="button")
          %span(class="glyphicon glyphicon-question-sign")
          Help
        %button(type="button" class="btn btn-danger" name="cancel" onclick='window.location = "/"' )Cancel


  .panel-group(id="description" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="descriptionHeading")
        %h4(class="panel-title")
          %a(role="button" data-toggle="collapse" data-parent="#description" href="#descriptionPanel" aria-expanded="true" aria-controls="descriptionPanel")
            %span( class="metadata-label" )
              Description
            (expand to edit dataset description values)
        %br
        %span( class="metadata-label" )
          citation preview:
        %span( id="creator-preview" )
          = @dataset.creator_list && @dataset.creator_list != "" ? @dataset.creator_list : "[Creator List]"
        %span( id="year-preview" )
          = @dataset.publication_year && @dataset.publication_year != "" ? "(#{@dataset.publication_year})" : "(#{Time.now.year}):"
        %span( id="title-preview" )
          = @dataset.title && @dataset.title != "" ? "#{@dataset.title}." : "[The Title]."
        University of Illinois at Urbana-Champaign.
        %span( id="doi-preview" )
          = @dataset.identifier && @dataset.identifier != "" ? "http://dx.doi.org/#{@dataset.identifier}" : ""


      .panel-collapse.collapse.in(id="descriptionPanel" role="tabpanel" aria-labelledby="descriptionHeading" )
        .panel-body
          = form_for(@dataset, :html => { :multipart => true, :role => "form", :enctype => "multipart/form-data", "data-toggle"=>"validator", :class => "container-fluid input-append dataset-form"}) do |f|
            - if @dataset.errors.any?
              .error_explaination
                = "#{pluralize(@dataset.errors.count, "error")} prohibited this dataset from being deposited."
                %ul
                  - @dataset.errors.full_messages.each do |msg|
                    %li
                      = msg
            .row
              .col-md-6
                .form-group.required
                  = f.label :title, "Dataset Title", :class => "control-label"
                  %br
                  = f.text_field :title, :class => "form-control dataset", :placeholder => "[The Title]"
              .col-md-6
                .form-group
                  = f.label :license, "License", :class => "control-label"
                  .modal.fade.modal-lg(id="licenseModal" role="dialog" )
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button(class="close" data-dismiss="modal")
                            &times;
                        .modal-body
                          %h4 CC0 1.0 waiver
                          %p
                            Selecting the
                            %a(href="https://creativecommons.org/about/cc0") CC0 1.0
                            dedicates the copyrightable content of your work to the public domain. This offers the most potential for re-use as it lets others distribute, remix, tweak, and build upon your work, even commercially, all without asking permission and with no requirement to attribute you.
                          %h4 CC BY 4.0 license
                          %p
                            Selecting the
                            %a(href="https://creativecommons.org/licenses/by/4.0") CC BY 4.0
                            lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation.
                          %h4 No selection
                          %p Not specifying a license reserves all rights.  This offers the least potential for re-use.
                  %a(href="#" data-toggle="modal" data-target="#licenseModal" tabindex="-1")
                    %span(class="glyphicon glyphicon-question-sign")
                  = f.collection_select :license, License.all, :code, :name, {:prompt => true}, {:class => "form-control dataset"}

            %span(class="metadata-label" )
              Author List
            (Primary contact required, email required for primary contact.)
            %br
            %input(type="hidden" name="creator_index_list" id="creator_index_list" value="" )

            %table(id="creator_table" class="table table-striped" )
              %thead
                %tr
                  %th(class="col-md-1")
                  %th(class="col-md-2")
                    Family Name
                  %th(class="col-md-2")
                    Given Name
                  %th(class="col-md-3")
                    ORCID® iD
                  %th(class="col-md-2")
                    Email
                  %th(class="col-md-1")
                    Primary Contact
                  %th(class="col-md-1")

              %tbody

              - @dataset.creators.each_with_index do |creator, i|

                = f.fields_for :creators, creator do |cf|
                  %tr(class="item" data-item-id="#{creator.id}" id="creator_row_for_#{creator.id}" )

                    %td
                    -# row position handle and author position value inserted via AJAX
                    %td
                      = cf.hidden_field :row_position # value set via AJAX
                      = cf.hidden_field :type_of, value: Creator::PERSON
                      = cf.text_field :family_name, class: "form-control dataset creator", placeholder: "[Family Name, e.g.: Smith]"
                    %td
                      = cf.text_field :given_name, class: "form-control dataset creator", placeholder: "[Given Name, e.g.: John W., Jr. ]"
                    %td
                      = cf.text_field :identifier, class: "form-control dataset", placeholder: "[orcid.org/0000-0002-1825-0097]"
                    %td
                      = cf.text_field :email, class: "form-control dataset", placeholder: "[Email, e.g.: jws@example.edu]"
                    %td(align="center" )
                      %input(name="dataset[creators_attributes][#{i}][is_contact]" type="hidden" value="#{creator.is_contact?}")
                      - if creator.is_contact?
                        %input(type="radio" name="primary_contact" class="dataset contact_radio" value="#{i}" onchange="handle_contact_change()" checked="true" )
                      -else
                        %input(type="radio" name="primary_contact" class="dataset contact_radio" value="#{i}" onchange="handle_contact_change()" )
                    %td
                      -# Add/Remove Creator buttons inserted via ajax

            .field
              = f.hidden_field :publisher, :value=>"University of Illinois at Urbana-Champaign"

            .form-group
              = f.label :description, "Dataset Description", :class => "control-label"
              %br
              = f.text_area :description, :rows => 3,  :class => "form-control dataset", :placeholder => "[Description of this dataset, including an overview of content, structure, and format.]"

            .form-group
              = f.label :keywords, "Keywords (Semi-colon delimted list)", :class => "control-label"
              %br
              = f.text_field :keywords, :class => "form-control dataset", :placeholder => "[Semi-colon separated list of keywords or phrases, e.g.: (institutional repositories; file formats)]"
              %span(class="help-block") Use a semi-colon (;) to separate keywords or phrases (e.g.: institutional repositories; file formats).

            = f.hidden_field :depositor_email, :class => "form-control", :id => "depositor_email", :title => "Must agree to deposit agreement to deposit data.", :required => true

            = f.hidden_field :depositor_name, :class => "form-control", :id => "depositor_name"

            - if can? :manage, @dataset
              .row
                %span(class="col-md-6" )
                  .form-group.curator-only
                    = f.label :identifier, "DOI", :class => "control-label"
                    %br
                    = f.text_field :identifier, :class => "form-control dataset", :placeholder => "[Leave blank if requesting a DOI.]"
                %span(class="col-md-6" )
                  .form-group.curator-only
                    = f.label :publication_year, "Publication Year", :class => "control-label"
                    %br
                    = f.number_field :publication_year, :value => "#{Time.now.year}", :class => "form-control dataset", :min => "1800", :max => "#{Time.now.year + 1}", :maxlength => 4
            - else
              = f.hidden_field :publication_year, :value => "#{Time.now.year}"


  %div(id="main-form-bottom")

    .container-fluid.save
      .row
        %span(class="col-md-6" )
          - if params[:action] == 'new'
            %button(type="button" id="show-agreement-modal-link" class="btn btn-primary" data-toggle="modal" data-target="#agreement") Review Deposit Agreement
          -else
            %button(type="button" class="btn btn-primary" onclick='window.location="/datasets/#{@dataset.key}/review_deposit_agreement"' ) Review Deposit Agreement
        %span(class="col-md-6" )
          %button(type="button" class="btn btn-danger" name="cancel" onclick='window.location = "/"' )
            %span(class="glyphicon glyphicon-ban-circle" )
            Cancel
          - if params[:action] == 'new'
            %button(type="button" class="btn btn-primary save-button" id="new-save-button") Next (Upload Files) ->
          - else
            %button(type="button" class="btn btn-primary update save-button" id="update-save-button") Save & Review Dataset ->


  %div(id="datafiles-form")

    - if (params[:action] != 'new')
      .panel-group(id="files" role="tablist" aria-multiselectable="true")
        .panel.panel-default
          .panel-heading(role="tab" id="filesHeading")
            %h4(class="panel-title")
              %a(role="button" data-toggle="collapse" data-parent="#files" href="#collapseFiles" aria-expanded="true" aria-controls="collapseFiles" )
                %span(class="metadata-label" ) Files
          .panel-collapse.collapse.in(id="collapseFiles" role="tabpanel" aria-labelledby="filesHeading" )
            .panel-body
              .container-fluid
                For files larger than 500 MB, importing from Box is recommended.  For files larger than Box supports, contact the
                %a(href="http://researchdataservice.illinois.edu/")Research Data Service
                %br
                Importing from Box happens in the background, so it is not necessary to keep your browser window open, but processing may be delayed at times of heavy system usage.
                %table(class="table table-striped" id="datafiles")
                  %tbody
                    - @dataset.datafiles.each do |datafile|
                      -if datafile.job_status == :complete
                        %tr
                          %td
                            .row
                              %span(class="col-md-8")
                                -#= debug(datafile.binary)
                                = datafile.binary.file.filename
                                -#= datafile.binary.filename ? datafile.binary.filename : "filename not found"
                              %span(class="col-md-2")
                                = number_to_human_size(datafile.binary.size)
                              %span(class="col-md-2")
                                - if ((can? :manage, @dataset) || (can? :update, @dataset) && (!@dataset.complete?))
                                  %a(data-confirm="Are you sure?" class="btn btn-danger btn-sm" rel="nofollow" data-method="delete" href="/datafiles/#{datafile.web_id}")
                                    %span(class="glyphicon glyphicon-trash")
                      -else
                        %tr(id="job#{datafile.job.id}")
                          %td
                            .row
                              %span(class="col-md-4")
                                = datafile.box_filename
                              %span(class="col-md-6")
                                %span(class="metadata-label")
                                  STATUS:
                                %span(class="metadata-value" )
                                  = datafile.job_status
                                %span(class="metadata-label" )
                                  | PROGRESS:
                                %span(class="metadata-value" )
                                  = number_to_human_size((datafile.job.progress_current) * 10000)
                                  of
                                  = datafile.box_filesize_display
                                %span(class="metadata-note" )
                                  (refresh page to update)
                              %span(class="col-md-2")
                                - if ((can? :manage, @dataset) || (can? :update, @dataset) && (!@dataset.complete?))
                                  %button(class="cancel-upload-btn btn btn-danger btn-sm" onclick="cancelUpload('#{datafile.web_id}', '#{datafile.job_id}')") Cancel

                %div(id="datafiles_upload_progress")
                - if ( (can? :manage, @dataset ) || ((can? :update, @dataset) && (!@dataset.complete?)) )
                  = form_for Datafile.new do |df|
                    = df.hidden_field :dataset_id, value: @dataset.id
                    .container
                      .row
                        .col-md-3
                          %span(class="metadata-label" )Drop files anywhere on this page or
                        .col-md-2
                          .btn.btn-success.fileinput-button
                            %i(class="glyphicon glyphicon-plus")
                            %span Select Files
                            /# The file input field used as target for the file upload widget
                            = df.file_field :binary, name: "datafile[binary]", multiple: true
                          %span(class="metadata-label")or
                        .col-md-3
                          %div(id="box-select" data-link-type="direct" data-multiselect="true" data-client-id="r5tgofc05460skm84yjepz1ck16ptotr")

%script(id="template-upload" type="text/x-tmpl")
  .upload
    {%=o.name%}
    .progress
      %div(class="bar progress-bar" style="width: 0%;")

- if !@dataset.depositor_email
  %script
    handleNotAgreed();
    $("#agreement").modal('show');

- if (params[:action] != 'new' && @dataset.datafiles.count < 1)
  %script
    $("#descriptionPanel").collapse('hide');
