= form_for(@dataset, :html => { :multipart => true, :role => "form", :enctype => "multipart/form-data", "data-toggle"=>"validator", :class => "form-horizontal container-fluid input-append" }) do |f|

  .form-group.required
    = f.label :title, "Dataset Title", :class => "control-label"
    %br
    = f.text_field :title, :class => "form-control", :placeholder => "[The Title]", :required => true
  

  .form-group.required
    = f.label :creator_text, "Creator(s)", :class => "control-label"
    %br
    = f.text_field :creator_text, :class => "form-control", :placeholder => "[Semi-colon spearated list of names, e.g.: Verfasser, Maria; Auteur, Henri]", :required => true
    %span(class="help-block") The personal name format for each name in the semi-colon separted list should be: family, given, (e.g.: Verfasser, Maria; Auteur, Henri).

  .field
    = f.hidden_field :publisher, :value=>"University of Illinois at Urbana-Champaign"

  .form-group.required
    = f.label :publication_year, "Publication Year", :class => "control-label"
    %br
    = f.text_field :publication_year, :value => '2015', :class => "form-control", :required => true
    %span(class="help-block") Four digit year (YYYY)
  

  .form-group
    = f.label :description, "Data Description", :class => "control-label"
    %br
    = f.text_field :description, :class => "form-control"
  

  .form-group
    = f.label :license, "License", :class => "control-label"
    %br
    = f.text_field :license, :class => "form-control"
  
  .form-group.required
    = f.label "File(s)", :class => "control-label"


  - if !@dataset.collection.nil? && @dataset.datafiles

    - @dataset.datafiles.each do |datafile|
      -if datafile.master_bytestream && !datafile.master_bytestream.nil?
        .row
          - binary = datafile.master_bytestream
          %span(class="col-md-1")
            = link_to "#{request.base_url}/datasets/#{@dataset.id}/destroy_file/#{datafile.web_id}", :class=>"btn btn-danger btn-sm" do
              = %Q[<span class="glyphicon glyphicon-remove"> File</span>].html_safe
          %span(class="col-md-3")
            = binary.filename
          %span(class="col-md-4")
            = datafile.description
          %span(class="col-md-2")
            = binary.media_type
          %span(class="col-md-2")
            = number_to_human_size(binary.byte_size)

  = f.fields_for :binaries do |binary|
    = render 'binary_fields', f: binary
  .links
    = link_to_add_association %Q[<button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"> File</span></button>].html_safe, f, :binaries

  .primary-actions.pull-right
    -if params[:action] == 'new'
      %button(type="submit" class="btn btn-primary") Deposit Dataset
    -else
      %button(type="submit" class="btn btn-primary") Update Dataset

  = link_to t(:'helpers.action.cancel'), main_app.root_path, class: 'btn btn-lnk'