= form_for(@dataset, :html => { :multipart => true, :role => "form", :enctype => "multipart/form-data", "data-toggle"=>"validator", :class => "container-fluid input-append dataset-form"}) do |f|
  - if @dataset.errors.any?
    .error_explaination
      = "#{pluralize(@dataset.errors.count, "error")} prohibited this dataset from being deposited."
      %ul
        - @dataset.errors.full_messages.each do |msg|
          %li
            = msg

  - if can? :manage, @dataset
    .form-group
      = f.label :identifier, "DOI", :class => "control-label"
      %br
      = f.text_field :identifier, :class => "form-control", :placeholder => "[Leave blank if requesting a DOI.]"

  %fieldset(class = "metadata-border")
    %legend(class = "metadata-border")Required to Deposit Dataset
    .form-group
      = f.label :title, "Dataset Title", :class => "control-label"
      %br
      = f.text_field :title, :class => "form-control dataset", :placeholder => "[The Title]"
    .form-group
      = f.label :creator_text, "Creator(s)", :class => "control-label"
      %br
      = f.text_field :creator_text, :class => "form-control dataset", :placeholder => "[Semi-colon spearated list of names, e.g.: Verfasser, Maria; Auteur, Henri]"
      %span(class="help-block") The personal name format for each name in the semi-colon separted list should be: family, given, (e.g.: Verfasser, Maria; Auteur, Henri).
    .row
      %span(class="col-md-6")
        .form-group
          = f.label :corresponding_creator_name, "Corresponding Creator", :class => "control-label"
          %a(href="#" data-toggle="tooltip" title = "The personal name for the person who serves as the point of contact for inquiries about the dataset (e.g. Verfasser, Maria)." tabindex="-1")
            %span(class="glyphicon glyphicon-question-sign")
          %br
          = f.text_field :corresponding_creator_name, :class => "form-control dataset" , :placeholder => "[The personal name for the dataset contact (e.g. Verfasser, Maria).]"
      %span(class="col-md-6")
        .form-group
          = f.label :corresponding_creator_email, "Corresponding Creator Email Address", :class => "control-label"
          %a(href="#" data-toggle="tooltip" title = "Correspondence about this dataset, including notice of deposit, will route to this email address." tabindex="-1" )
            %span(class="glyphicon glyphicon-question-sign")
          %br

          = f.email_field :corresponding_creator_email, :class => "form-control dataset", :placeholder => "[For correspondence about this dataset, including notice of deposit.]"
          .help-block.with-errors

    .field
      = f.hidden_field :publisher, :value=>"University of Illinois at Urbana-Champaign"

    - if can? :manage, @dataset
      .form-group
        = f.label :publication_year, "Publication Year", :class => "control-label"
        %br
        = f.number_field :publication_year, :value => '2015', :class => "form-control", :min => "1800", :max => "#{Time.now.year + 1}", :maxlength => 4
        %span(class="help-block") Four digit year (YYYY)
    - else
      = f.hidden_field :publication_year, :value => '2015'

  %fieldset(class = "metadata-border")
    %legend(class = "metadata-border")Recommended
    .form-group
      = f.label :description, "Dataset Description", :class => "control-label"
      %br
      = f.text_area :description, :rows => 3,  :class => "form-control dataset", :placeholder => "[Description of this dataset, including an overview of content, structure, and format.]"


    .form-group
      = f.label :license, "License", :class => "control-label"
      %br
      = f.text_field :license, :class => "form-control dataset"

  = f.hidden_field :depositor_email, :class => "form-control", :id => "depositor_email", :title => "Must agree to deposit agreement to deposit data.", :required => true

  = f.hidden_field :depositor_name, :class => "form-control", :id => "depositor_name"



  %fieldset(class = "metadata-border")
    %legend(class = "metadata-border")File(s) -- at least one required for deposit
    - if !@dataset.depositor_email 
      .deposit-agreement-file-warning
    %span(class="help-block")
      For files larger than 2 GB, contact the
      %a(href="http://researchdataservice.illinois.edu/")Research Data Service
    - if @dataset.datafiles

      - @dataset.datafiles.each do |datafile|

        - if datafile.master_bytestream
          .row
            - binary = datafile.master_bytestream
            %span(class="col-md-4" )
              = binary.filename
            %span(class="col-md-6")
              = datafile.description
            %span(class="col-md-1")
              - if ((can? :manage, @dataset) || (can? :update, @dataset) && (!@dataset.complete?))
                = link_to "#{request.base_url}/datasets/#{@dataset.key}/destroy_file/#{datafile.web_id}", :class=>"btn btn-danger btn-sm" do
                  = %Q[<span class="glyphicon glyphicon-remove"> File</span>].html_safe

    - if ((params[:action] == 'new') ||  (can? :manage, @dataset ) || ((can? :update, @dataset) && (!@dataset.complete?)))
      = f.fields_for :binaries do |binary|
        = render 'binary_fields', f: binary
      .links
        = link_to_add_association %Q[<button type="button" class="btn btn-primary btn-sm add-attachment-subform-button"><span class="glyphicon glyphicon-plus"> File</span></button>].html_safe, f, :binaries
  .container-fluid
    %span(class="pull-right" )
      - if @dataset && @dataset.depositor_email
        = link_to "Review Deposit Agreement", {:controller => "datasets", :action => "review_deposit_agreement", :id => @dataset.key}
      - else
        %button(id="show-agreement-modal-link" class="btn btn-link" data-toggle="modal" data-target="#agreement") Deposit Agreement
      -if params[:action] == 'new'
        %button(type="button" class="btn btn-primary save-button" id="new-save-button")
      -else
        %button(type="button" class="btn btn-primary update save-button") Update Dataset
      %button(type = "submit" class="hidden" id="dataset-submit-button" ) Submit
%br
%a{:href => "/"} Cancel

- if !@dataset.depositor_email
  %script $("#agreement").modal('show');
