=render partial: 'datasets/brief_record', dataset: @dataset

= form_for @review_request do |f|
  - if @review_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review_request.errors.count, "error")} prohibited this review_request from being saved:"
      %ul
        - @review_request.errors.full_messages.each do |message|
          %li= message

  .field
    = f.hidden_field :dataset_key, @dataset.key
  .field
    = f.label :requested_at
    = f.datetime_select :requested_at
  .actions
    = f.submit 'Save'