.row
  .col-md-3
    %form(action="/datasets" id="searchForm" accept-charset="UTF-8" method="get" )

      .input-group

        -if params.has_key?('q')
          %input(type="text" class="form-control q" name="q" aria-label="search input box" value="#{params['q']}" )
        -else
          %input(type="text" class="form-control q" name="q" aria-label="search input box" placeholder="search for datasets" )
        %span(class="input-group-btn" )
          %button(type="submit" class="btn btn-primary")
            %span(class="glyphicon glyphicon-search" aria-hidden="true" )
          %button(type="button" class="btn btn-danger" onclick="clearSearchTerm()" )
            %span(class="glyphicon glyphicon-remove" aria-hidden="true" )

      %br
      %button(type="button" onclick="showAllSearchResults()" class="btn btn-success" )
        Show Unfiltered Search Results
      %br
      .facets
        -if current_user && current_user.role == 'depositor'
          Depositor
          .indent
            .facet
              - if params.has_key('mine_or_not')
                - if params['mine_or_not'].include?('mine')
                  %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_mine" name="mine_or_not[]" value="mine" onchange="handleFilterChange()" checked=true )
                    me
                -else
                  %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_mine" name="mine_or_not[]" value="mine" onchange="handleFilterChange()" checked=false )
                    me
                - if params['mine_or_not'].include?('not_mine')
                  %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_not_mine" name="mine_or_not[]" value="not_mine" onchange="handleFilterChange()" checked=true )
                  not me
                -else
                  %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_not_mine" name="mine_or_not[]" value="not_mine" onchange="handleFilterChange()" checked=false )
                  not me
              -else
                .indent
                  .facet
                    %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_mine" name="mine_or_not[]" value="mine" onchange="handleFilterChange()" checked=true )
                      me
                  .facet
                    %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_not_mine" name="mine_or_not[]" value="not_mine" onchange="handleFilterChange()" checked=true )
                      not me
        -elsif current_user && current_user.role == 'admin'
          Depositor
          .indent
            -for row in @search.facet(:depositor).rows
              -row.value.gsub!(' ','_')
              .facet
                -if params.has_key?('depositor')
                  -if params['depositor'].include?(row.value)
                    %input(type="checkbox" class="checkFacet checkFacetGroup depositor_#{row.value}" name="depositor[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                    = User.user_info_string(row.value)
                    ="(#{row.count})"
                  -else
                    %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value} " name="depositor[]" value="#{row.value}" onchange="handleFilterChange()")
                      = row.value
                      ="(#{row.count})"
                -else
                  %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value}" name="depositor[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                    = row.value
                    ="(#{row.count})"

        Publication State
        .indent
          -for row in @search.facet(:publication_state).rows
            -row.value.gsub!(' ','_')
            .facet
              - if params.has_key?('publication_state')

                - if params['publication_state'].include?(row.value)

                  %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value}" name="publication_state[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                    = row.value
                    ="(#{row.count})"
                -else

                  %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value} " name="publication_state[]" value="#{row.value}" onchange="handleFilterChange()")
                    = row.value
                    ="(#{row.count})"

              -else
                %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value}" name="publication_state[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                  = row.value
                  ="(#{row.count})"
        License
        .indent
          -for row in @search.facet(:license).rows
            -row.value.gsub!(' ','_')
            .facet
              - if params.has_key?('license')

                - if params['license'].include?(row.value)
                  %input(type="checkbox" class="checkFacet checkFacetGroup license_facet license_#{row.value}" name="license[]" value="#{row.value}" onchange="handleFilterChange()" checked=true )
                    = row.value
                    ="(#{row.count})"
                -else
                  %input(type="checkbox" class="checkFacet checkFacetGroup license_facet license_#{row.value}" name="license[]" value="#{row.value}" onchange="handleFilterChange()" )
                    = row.value
                    ="(#{row.count})"

              -else

                %input(type="checkbox" class="checkFacet checkFacetGroup license_facet license_#{row.value}" name="license[]" value="#{row.value}" onchange="handleFilterChange()" checked=true )
                  = row.value
                  ="(#{row.count})"

  .col-md-9
    %h1 Datasets
    -@search.each_hit_with_result do |hit, dataset|

      = render partial: 'brief_record', locals: {dataset: dataset}