%br
.row
  .col-md-5
    %form(action="/datasets" id="searchForm" accept-charset="UTF-8" method="get" )

      .input-group

        -if params.has_key?('q') && params['q'].length > 0
          %input(type="text" class="form-control q" name="q" aria-label="search input box" value="#{params['q']}" )
        -else
          %input(type="text" class="form-control q" name="q" aria-label="search input box" placeholder="search for datasets" )
        %span(class="input-group-btn" )
          %button(type="submit" class="btn btn-primary")
            %span(class="glyphicon glyphicon-search" aria-hidden="true" )
          %button(type="button" class="btn btn-danger" onclick="clearSearchTerm()" )
            %span(class="glyphicon glyphicon-remove" aria-hidden="true" )

      -if @search.total > 0
        %br
        %button(type="button" onclick="clearFilters()" class="btn btn-success" )
          Clear Filters


        -if current_user && current_user.role == 'depositor'

          .panel-group
            .panel.panel-default
              .panel-heading
                %h4(class="panel-title")
                  My Datasets

              .panel-body
                -current_user_facet_exists = false
                -@search.facet(:depositor).rows.each do |row|
                  .facet
                    -if row.value == current_user.username && params.has_key?('depositors') && params['depositors'].include?(row.value)
                      %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                        Just My Datasets
                        ="(#{row.count})"
                        -current_user_facet_exists = true
                    -elsif row.value == current_user.username
                      %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                        Just My Datasets
                        ="(#{row.count})"
                        -current_user_facet_exists = true
                - if current_user_facet_exists == false
                  %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{current_user.username}" onchange="handleFilterChange()" checked=false disabled = true)
                    Just My Datasets
                    ="(0)"


          -if current_user && current_user.role == 'depositor' && params.has_key?('depositors') && params['depositors'].include?(current_user.username)
            .indent
              .panel-group
                .panel.panel-default
                  .panel-heading
                    %h4(class="panel-title")
                      My Datasets By Visibility
                  .panel-body

                    -for row in @search.facet(:visibility_code).rows
                      .facet
                        -if params.has_key?('visibility_codes') && params['visibility_codes'].include?(row.value)
                          %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                          = Indexable.visibility_name_from_code(row.value)
                          ="(#{row.count})"
                        -else
                          %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                          = Indexable.visibility_name_from_code(row.value)
                          ="(#{row.count})"


        -if current_user && current_user.role == 'admin'

          .panel-group
            .panel.panel-default
              .panel-heading
                %h4(class="panel-title")
                  Depositor
              .panel-body
                -for row in @search.facet(:depositor).rows
                  .facet
                    -if params.has_key?('depositors') && params['depositors'].include?(row.value)
                      %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                        = User.user_info_string(row.value)
                        ="(#{row.count})"
                    -else
                      %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                        = User.user_info_string(row.value)
                        ="(#{row.count})"


        .panel-group
          .panel.panel-default
            .panel-heading
              %h4(class="panel-title")
                Funder
            .panel-body
              -for row in @search.facet(:funder_codes).rows
                .facet
                  -if params.has_key?('funder_codes') && params['funder_codes'].include?(row.value)
                    %input(type="checkbox" class="checkFacet checkFacetGroup funder_facet" name="funder_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                      = Indexable.funder_name_from_code(row.value)
                      ="(#{row.count})"
                  -else
                    %input(type="checkbox" class="checkFacet checkFacetGroup funder_facet" name="funder_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                      = Indexable.funder_name_from_code(row.value)
                      ="(#{row.count})"

        .panel-group
          .panel.panel-default
            .panel-heading
              %h4(class="panel-title")
                License
            .panel-body
              -@search.facet(:license_code).rows.each do |row|

                - if row.value != ""

                  .facet
                    -if params.has_key?('license_codes') && params['license_codes'].include?(row.value)
                      %input(type="checkbox" class="checkFacet checkFacetGroup license_facet" name="license_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                        = Indexable.license_name_from_code(row.value)
                        ="(#{row.count})"
                    -else
                      %input(type="checkbox" class="checkFacet checkFacetGroup license_facet" name="license_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                        = Indexable.license_name_from_code(row.value)
                        ="(#{row.count})"


        -if current_user && current_user.role == 'admin'
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4(class="panel-title")
                  Visibility
              .panel-body
                -for row in @search.facet(:visibility_code).rows
                  .facet
                    -if params.has_key?('visibility_codes') && params['visibility_codes'].include?(row.value)
                      %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                      = Indexable.visibility_name_from_code(row.value)
                      ="(#{row.count})"
                    -else
                      %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                        = Indexable.visibility_name_from_code(row.value)
                        ="(#{row.count})"


      -else
        .indent
          %em no results found
  .col-md-7
    %h1
      Datasets
      ="(#{@search.total})"
    -@search.each_hit_with_result do |hit, dataset|

      = render partial: 'brief_record', locals: {dataset: dataset}