.row
  .col-md-3
    %form(action="/datasets" id="searchForm" accept-charset="UTF-8" method="get" )

      .input-group

        -if params.has_key?('q')
          %input(type="text" class="form-control q" name="q" aria-label="search input box" value="#{params['q']}" )
        -else
          %input(type="text" class="form-control q" name="q" aria-label="search input box" placeholder="search for datasets" )
        %span(class="input-group-btn" )
          %button(type="submit" class="btn btn-primary")
            %span(class="glyphicon glyphicon-search" aria-hidden="true" )
          %button(type="button" class="btn btn-danger" onclick="clearSearchTerm()" )
            %span(class="glyphicon glyphicon-remove" aria-hidden="true" )

      %br
      %button(type="button" onclick="showAllSearchResults()" class="btn btn-success" )
        Show Unfiltered Search Results
      %br
      .facets
        -if current_user && ['admin','depositor'].include?(current_user.role)
          Depositor
          .indent
            .facet
              %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_mine" name="mine_or_not[]" value="mine" onchange="handleFilterChange()" checked=true )
                me
            .facet
              %input(type="checkbox" class="checkFacet checkFacetGroup mine_or_not_not_mine" name="mine_or_not[]" value="not_mine" onchange="handleFilterChange()" checked=true )
                not me
        Publication State
        .indent
          -for row in @search.facet(:publication_state).rows
            -row.value.gsub!(' ','_')
            .facet
              - if params.has_key?('publication_state')

                - if params['publication_state'].include?(row.value)

                  %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value}" name="publication_state[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                    = row.value
                    ="(#{row.count})"
                -else

                  %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value} " name="publication_state[]" value="#{row.value}" onchange="handleFilterChange()")
                    = row.value
                    ="(#{row.count})"

              -else
                %input(type="checkbox" class="checkFacet checkFacetGroup pubstate_#{row.value}" name="publication_state[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                  = row.value
                  ="(#{row.count})"
        License
        .indent
          -for row in @search.facet(:license).rows
            -row.value.gsub!(' ','_')
            .facet
              - if params.has_key?('license')

                - if params['license'].include?(row.value)
                  %input(type="checkbox" class="checkFacet checkFacetGroup license_facet license_#{row.value}" name="license[]" value="#{row.value}" onchange="handleFilterChange()" checked=true )
                    = row.value
                    ="(#{row.count})"
                -else
                  %input(type="checkbox" class="checkFacet checkFacetGroup license_facet license_#{row.value}" name="license[]" value="#{row.value}" onchange="handleFilterChange()" )
                    = row.value
                    ="(#{row.count})"

              -else

                %input(type="checkbox" class="checkFacet checkFacetGroup license_facet license_#{row.value}" name="license[]" value="#{row.value}" onchange="handleFilterChange()" checked=true )
                  = row.value
                  ="(#{row.count})"

  .col-md-9
    %h1 Datasets
    -@search.each_hit_with_result do |hit, dataset|

      = render partial: 'brief_record', locals: {dataset: dataset}