<% flash.each do |key, value| %>
  <div class="alert alert-info"><%= sanitize(value) %></div>
<% end %>
<%= render partial: 'deposit_agreement_modal', :layout => false %>
<%= render partial: 'datasets/dashboards/new_top' %>
<%= render partial: 'info' %>
<%= render partial: 'datasets/dashboards/new_bottom' %>


