<% if @dataset %>
  <% dataset = @dataset %>
  <% if ((can? :update, dataset) || dataset.complete?) %>
    <div class="row">
        <span class="col-md-11"><span class="mainTitle"> <%= link_to "#{(!dataset.title || dataset.title.empty?) ? "[Title not provided]" : dataset.title}", dataset_path(dataset.key) %></span><br/>
          <%= (!dataset.creator_list || dataset.creator_list.empty?) ? "[Creator(s) not provided]" : dataset.creator_list %><br/>
          <%= dataset.publisher %>
          <%= dataset.publication_year %>

          <%= (dataset.identifier && !dataset.identifier.empty?) ? (link_to "doi:#{dataset.identifier}", dataset_path(dataset.key)) : "" %></span>
        <span class="col-md-1">
          <%= link_to dataset_path(dataset.key), :class => "btn btn-primary btn-block btn-sm" do %>
            <span class="glyphicon glyphicon-zoom-in"></span> View
          <% end %>
          <% if can? :update, dataset %>

            <%= link_to edit_dataset_path(dataset.key), :class => "btn btn-info btn-block btn-sm" do %>
              <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>
          <% end %>
          <% if can? :destroy, dataset %>
            <%= link_to dataset_path(dataset.key), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-block btn-sm" do %>
              <span class="glyphicon glyphicon-remove"></span> Delete
            <% end %>
          <% end %>
        </span>
    </div>
  <% end %>
<% end %>
<%= render partial: 'deposit_agreement' %>
