<%= render partial: "download_link_modal" %>
<% if (can? :edit, @dataset) %>
  <%= render partial: "confirm_deposit_modal" %>
  <%= render partial: 'datasets/dashboards/show' %>
<% end %>
<% if ((can? :manage, @dataset) && (@dataset.publication_state != Databank::PublicationState::DRAFT)) %>
  <%= render partial: 'curator_access_controls' %>
<% end %>

<div class="container-fluid" id="main-show-div">

  <% if ((!can? :manage, @dataset) && (@dataset.publication_state == Databank::PublicationState::PermSuppress::METADATA)) %>
    <br/>

    <div class="embargo-placeholder">
      This dataset is not available.
      <a href="/help?context=destroyed&key=<%= @dataset.key %>">Contact the Research Data Service</a> with any
      questions.
    </div>

  <% elsif ((!can? :edit, @dataset) && (@dataset.hold_state == Databank::PublicationState::TempSuppress::METADATA)) %>
    <br/>

    <div class="embargo-placeholder">
      This dataset is under curator review.
      <a href="/help?context=hold&key=<%= @dataset.key %>">Contact the Research Data Service</a> with any questions.
    </div>

  <% elsif ((!can? :edit, @dataset) && (@dataset.publication_state == Databank::PublicationState::Embargo::METADATA)) %>
    <br/>

    <div class="embargo-placeholder">
      This dataset will be available <%= @dataset.release_date %>.
      <a href="/help?context=embargo&key=<%= @dataset.key %>">Contact the Research Data Service</a> with any
      questions.
    </div>

  <% elsif ((can? :manage, @dataset) ||
    (([Databank::PublicationState::RELEASED, Databank::PublicationState::Embargo::FILE, Databank::PublicationState::PermSuppress::FILE].include? @dataset.publication_state) &&
      (@dataset.hold_state != Databank::PublicationState::TempSuppress::METADATA)) ||
    ((can? :edit, @dataset) &&
      (@dataset.publication_state != Databank::PublicationState::PermSuppress::METADATA))
  ) %>
    <!-- BEGIN metadata section-->
    <div class="panel">
      <div class="panel-body">

        <span class="dataset-title"><%= (!@dataset.title || @dataset.title.empty?) ? "[Title not provided]" : @dataset.title %></span>

        <div class="container-fluid" id="citation-block">

          <div class="row bg-citation">
            <div id="citation" class="col-md-9" onclick="if (event.target) { selectText(event.target); } else{ selectText(this); }"><%= @dataset.plain_text_citation %></div>
            <div class="col-md-3 text-right" id="citation-download">
              <div class="dropdown">
                <button type="button" id="downloadCitation" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-list"></span> Citation <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right text-left" role="menu">
                  <li>
                    <a id="datasetForm:endNoteLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_endNote_XML"'>
                      EndNote XML
                    </a>
                  </li>
                  <li>
                    <a id="datasetForm:risLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_RIS"'>
                      RIS Format
                    </a>
                  </li>
                  <li>
                    <a id="datasetForm:BibTeXLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_BibTeX"'>
                      BibTeX Format
                    </a>
                  </li>
                  <li>
                    <a id="datasetForm:plainTextCitationLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_plaintext_citation"'>
                      Plain Text
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row bg-muted">
            <span id="citation-standards" class="col-md-9 text-muted small">If you use these data, please add this citation to your scholarly resources. </span>
          <span class="col-md-3 pull-right text-right">
            <!--<span class="label label-primary">Downloads <span class="badge">42</span></span>-->
          </span>
          </div>

          <% if @dataset.complete? %>
            <div class="row bg-muted">
            <span id="citation-standards" class="col-md-9 text-muted small">
              <button class='copy-btn btn btn-sm btn-default' data-clipboard-target='doi_link_text' data-clipboard-text="https://doi.org/<%= @dataset.identifier %>" title='Click me to copy to clipboard.'>
                <span class="glyphicon glyphicon-copy"></span>
                <b>Copy persistent link to clipboard...</b>
              </button>
              Persistent link for this item: <a href="https://doi.org/<%= @dataset.identifier %>">https://doi.org/<%= @dataset.identifier %></a></span>
              <input type="hidden" value="https://doi.org/<%= @dataset.identifier %>" name="doi_link_text" id="doi_link_text">
            </div>
          <% end %>
        </div>
        <div class="metadata-block">

          <% if @dataset.related_materials.count > 0 %>
            <% @dataset.related_materials.each do |material| %>
              <div class="container-fluid">
                <span class="metadata-label">Related <%= (material.material_type && material.material_type != "") ? material.material_type : "Material" %><%= (material.availability && material.availability != '') ? " (#{material.availability})" : "" %>
                  : </span>
                <% if material.link && material.link != '' %>
                  <a href="<%= material.link %>">
                    <% if material.citation && material.citation != '' %>
                      <%= material.citation %>
                    <% else %>
                      <%= material.link %>
                    <% end %>
                  </a>

                <% elsif material.citation && material.citation != '' %>
                  <%= material.citation %>
                <% else %>
                  [Details not provided.]
                <% end %>
              </div>
            <% end %>
          <% end %>

          <% if @dataset.description && @dataset.description != '' %>
            <div class="container-fluid">
              <span class="metadata-label">Dataset Description: </span>
              <%= @dataset.description %>
            </div>
          <% end %>

          <% if @dataset.keywords && !@dataset.keywords.empty? %>
            <div class="container-fluid">
              <span class="metadata-label">Keywords: </span>
              <%= @dataset.keywords %>
            </div>
          <% end %>
          <div class="container-fluid">
            <div class="row">
              <span class="col-md-6">
                <span class="metadata-label">License:</span>
                <% if @license_link == "" %>
                  <%= (@dataset.license && @dataset.license != "") ? @dataset.license : "[License not selected]" %>
                <% else %>
                  <a href="<%= @license_link %>"><%= @license.name %></a>
                <% end %>
              </span>
            </div>
          </div>

          <% if [Databank::PublicationState::Embargo::METADATA, Databank::PublicationState::Embargo::FILE].include?(@dataset.publication_state) || (@dataset.publication_state == Databank::PublicationState::DRAFT && @dataset.release_date && @dataset.release_date > Date.current()) %>
            <div class="container-fluid">
              <span class="metadata-label">Release Date:</span>
              <%= @dataset.release_date %>
            </div>
          <% end %>

          <% @dataset.funders.each do |funder| %>
            <div class="container-fluid">
              <span class="metadata-label">Funder:</span>
              <%= funder.name %>
              <% if funder.grant && funder.grant != "" %>
                , <span class="metadata-label">Grant:</span>
                <%= funder.grant %>
              <% end %>
            </div>
          <% end %>

          <div class="container-fluid">
            <div class="row">
            <span class="col-md-6">
              <span class="metadata-label">Corresponding Creator: </span>
              <%= (!@dataset.corresponding_creator_name || @dataset.corresponding_creator_name.empty?) ? "[corresponding creator name not provided]" : @dataset.corresponding_creator_name %>
            </span>
              <% if can? :manage, @dataset %>
              <span class="col-md-6 curator-only">
                <span class="metadata-label">Depositor:</span>
                <%= @dataset.depositor_name %>
              </span>
              <% end %>
            </div>
            <% if can? :manage, @dataset %>
              <div class="row">
              <span class="col-md-6 curator-only">
                <span class="metadata-label">Corresponding Creator Email: </span>
                <%= (!@dataset.corresponding_creator_email || @dataset.corresponding_creator_email.empty?) ? "[corresponding creator email not provided]" : @dataset.corresponding_creator_email %>
              </span>
              <span class="col-md-6 curator-only">
                <span class="metadata-label">Depositor Email:</span>
                <%= @dataset.depositor_email %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- END metadata section-->

    <!-- BEGIN file section -->
    <div class="dataset-files">
      <div class="panel-group" id="files" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#files" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle">
                Files
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

              <% if ((can? :manage, @dataset) || ((can? :edit, @dataset) && (@dataset.publication_state != Databank::PublicationState::PermSuppress::FILE) ) || ((@dataset.publication_state == Databank::PublicationState::RELEASED) && (@dataset.hold_state != Databank::PublicationState::TempSuppress::FILE))) %>
                <form role="form">
                  <div class="form-group" id="select-files-form-group">
                    <table class="table table-striped">
                      <tbody>
                      <% if @all_in_medusa || @total_files_size < @local_zip_max_size %>
                        <tr>
                          <td>
                            <div class="row">
                              <span class="col-md-4">
                                <% if @all_in_medusa %>
                                  <button class="btn btn-primary" type="button" onclick="offerDownloadLink()">
                                    <span class="glyphicon glyphicon-download"></span> Get Custom Zip and Download Link
                                    for Selected
                                    (<span id="checkFileSelectedCount"></span>)
                                  </button>
                                <% else %>
                                  <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-download"></span> Zip and Download Selected
                                    (<span id="checkFileSelectedCount"></span>)
                                  </button>
                                <% end %>
                              </span>
                            </div>
                            <div class="row">
                              <span class=" checkbox col-md-4">
                                <label><input type="checkbox" id="checkAllFiles" value="checkAllFiles">Select all
                                  (<%= @dataset.datafiles.count %>) </label>
                              </span>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                      <% @dataset.datafiles.each do |datafile| %>
                        <tr>
                          <td>
                            <% if datafile.job_status == :complete %>

                              <div class="row checkbox">

                                <span class="col-md-8">
                                  <% if @all_in_medusa || @total_files_size < @local_zip_max_size %>
                                    <label>
                                      <input type="checkbox" class="checkFile checkFileGroup" name="selected_files[]" value="<%= datafile.web_id %>"><%= datafile.bytestream_name %>
                                    </label>
                                  <% else %>
                                     <%= datafile.bytestream_name %>
                                  <% end %>

                                </span>
                                <span class="col-md-2"><%= number_to_human_size(datafile.bytestream_size) %></span>
                                <span class="col-md-2">
                                  <a href="#" onclick='window.location = "/datafiles/<%= datafile.web_id %>/download"' class="btn btn-primary btn-sm" role="button">
                                    <span class="glyphicon glyphicon-download"></span> File
                                  </a>
                                </span>
                              </div>

                            <% end %>

                          </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <!-- end select-files-form-group -->
                </form>
              <% elsif @dataset.publication_state == Databank::PublicationState::PermSuppress::FILE %>
                <div class="embargo-placeholder">
                  Files associated with this dataset are not available.
                  <a href="/help?context=embargo&key=<%= @dataset.key %>">Contact the Research Data Service</a> with any
                  questions.
                </div>
              <% elsif @dataset.hold_state == Databank::PublicationState::TempSuppress::FILE %>
                <div class="embargo-placeholder">
                  Files associated with this dataset are under curator review.
                  <a href="/help?context=embargo&key=<%= @dataset.key %>">Contact the Research Data Service</a> with any
                  questions.
                </div>
              <% elsif @dataset.publication_state == Databank::PublicationState::Embargo::FILE %>
                <div class="embargo-placeholder">
                  Files associated with this dataset will be made available <%= @dataset.release_date %>.
                  <a href="/help?context=embargo&key=<%= @dataset.key %>">Contact the Research Data Service</a> with any
                  questions.
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END file section -->
  <% end %>

  <% if @changetable && ((can? :manage, @dataset) || ([Databank::PublicationState::RELEASED, Databank::PublicationState::PermSuppress::FILE, Databank::PublicationState::Embargo::FILE].include?(@dataset.publication_state) && @dataset.hold_state != Databank::PublicationState::TempSuppress::METADATA)) %>
    <div class="panel-group" id="changelog" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="changelogHeading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#funder" href="#changelogPanel" aria-expanded="false" aria-controls="funderPanel" class="accordion-toggle collapsed">
              <span class="metadata-label">Change Log</span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="changelogPanel" role="tabpanel" aria-labelledby="changelogHeading">
          <div class="panel-body">
            <p><a href="/help?context=changelog&key=<%= @dataset.key %>">Contact the Research Data Service</a> for
              help
              interpreting this log.</p>
            <%= render_datatable(@changetable) %>
          </div>
        </div>
      </div>
    </div>
    <% if can? :edit, @dataset %>
      <a href="/datasets/<%= @dataset.key %>/review_deposit_agreement">Review Deposit Agreement</a>
    <% end %>
  <% end %>

</div>

<% if can? :manage, @dataset && @dataset.publication_state != Databank::PublicationState::DRAFT %>
  <div class="curator-only">
    <p><a href="http://ezid.lib.purdue.edu/manage/display_xml/doi:<%= @dataset.identifier %>" target="_blank">DataCite
      Metadata in XML format (via EZID)</a></p>

    <p>
      <a href="http://ezid.lib.purdue.edu/id/doi:<%= @dataset.identifier %>" target="_blank">DataCite Metadata on EZID
        page</a>
    </p>

    <p>To see this dataset in Medusa, go to
      <a href="<%= IDB_CONFIG['medusa']['file_group_url'] %>">IDB File Group</a> and filter by: <%= @dataset.key %>
    </p>
  </div>
<% end %>

<% if (@dataset.title) && (@dataset.title.downcase.include? 'unicorn') && ((can? :edit, @dataset) && [Databank::PublicationState::RELEASED, Databank::PublicationState::Embargo::FILE].include?(@dataset.publication_state)) %>
  <div class="pull-right">
    <%= image_tag('Rainbow_Unicorn.png') %>
  </div>
<% end %>

