<%= render partial: 'confirm_deposit_modal' %>
<% if (can? :edit, @dataset) %>
  <%= render partial: 'dashboard_show' %>
<% end %>
<!-- Only show page contents if dataset is complete or if the viewer has rights to modify it. -->
<% if ((can? :update, @dataset) || @dataset.complete?) %>
  <div class="container-fluid">
    <div class="row">
      <span class="col-md-6" id="title"><%= (!@dataset.title || @dataset.title.empty?) ? "[Title not provided]" : @dataset.title %></span>
    </div>
  </div>
  <div class="container-fluid" id="citation-block">

    <div class="row bg-citation">
      <div id="citation" class="col-md-9" onclick="if (event.target) { selectText(event.target); } else{ selectText(this); }"><%= @dataset.plain_text_citation %></div>
      <div class="col-md-3 text-right" id="citation-download">
        <div class="dropdown">
          <button type="button" id="downloadCitation" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list"></span> Citation <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right text-left" role="menu">
            <li>
              <a id="datasetForm:endNoteLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_endNote_XML"'>
                EndNote XML
              </a>
            </li>
            <li>
              <a id="datasetForm:risLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_RIS"'>
                RIS Format
              </a>
            </li>
            <li>
              <a id="datasetForm:BibTeXLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_BibTeX"'>
                BibTeX Format
              </a>
            </li>
            <li>
              <a id="datasetForm:plainTextCitationLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_plaintext_citation"'>
                Plain Text
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row bg-muted">
      <span id="citation-standards" class="col-md-9 text-muted small">If you use these data, please add this citation to your scholarly resources. </span>
      <span class="col-md-3 pull-right text-right">
        <!--<span class="label label-primary">Downloads <span class="badge">42</span></span>-->
      </span>
    </div>

    <% if @dataset.complete? %>
      <div class="row bg-muted">
        <span id="citation-standards" class="col-md-9 text-muted small"><button class='my_clip_button btn btn-sm btn-default' data-clipboard-target='fe_text' data-clipboard-text="http://dx.doi.org/<%= @dataset.identifier %>" id='d_clip_button' title='Click me to copy to clipboard.'>
          <span class="glyphicon glyphicon-copy"></span>
          <b>Copy persistent link to clipboard...</b>
        </button> Persistent link for this item: <a href="http://dx.doi.org/<%= @dataset.identifier %>">http://dx.doi.org/<%= @dataset.identifier %></a></span>
        <input type="hidden" value="http://dx.doi.org/<%= @dataset.identifier %>" name="fe_text" id="fe_text">
      </div>
    <% end %>
  </div>
  <div class="container-fluid">
    <span class="metadata-label">Dataset Description: </span>
    <%= @dataset.description.empty? ? "[description not provided]" : @dataset.description %>
  </div>

  <% if @dataset.keywords && !@dataset.keywords.empty? %>
    <div class="container-fluid">
      <span class="metadata-label">Keywords: </span>
      <%= @dataset.keywords %>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <span class="col-md-6">
        <span class="metadata-label">Corresponding Creator: </span>
        <%= (!@dataset.corresponding_creator_name || @dataset.corresponding_creator_name.empty?) ? "[corresponding creator name not provided]" : @dataset.corresponding_creator_name %>
      </span>
      <% if can? :manage, @dataset %>
        <span class="col-md-6">
          <span class="metadata-label">Depositor:</span>
          <%= @dataset.depositor_name %>
        </span>
      <% end %>
    </div>
    <% if can? :manage, @dataset %>
      <div class="row">
        <span class="col-md-6">
          <span class="metadata-label">Corresponding Creator Email: </span>
          <%= (!@dataset.corresponding_creator_email || @dataset.corresponding_creator_email.empty?) ? "[corresponding creator email not provided]" : @dataset.corresponding_creator_email %>
        </span>
      <span class="col-md-6">
        <span class="metadata-label">Depositor Email:</span>
        <%= @dataset.depositor_email %>
        </span>
      </div>
    <% end %>
    <div class="row">
      <span class="col-md-6">
        <span class="metadata-label">Version:</span>
        <%= @dataset.version %>
      </span>
    </div>
    <div class="row">
      <span class="col-md-6">
        <span class="metadata-label">License:</span>
        <% if @license_link == "" %>
          <%= (@dataset.license && @dataset.license != "") ? @dataset.license : "All rights reserved." %>
        <% else %>
          <a href="<%= @license_link %>"><%= @license.name %></a>
        <% end %>
      </span>
    </div>

  </div>

  <div class="panel-group" id="files" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#files" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Files
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <form role="form">
            <div class="form-group" id="select-files-form-group">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td>
                    <div class="row">
              <span class="col-md-4">
                <!--<button class="btn btn-primary" type="submit">-->
                  <!--<span class="glyphicon glyphicon-download"></span> Zip and Download Selected-->
                  <!--(<span id="checkFileSelectedCount"></span>)-->
                <!--</button>-->
                <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-download"></span> Zip and Download Selected
                  (<span id="checkFileSelectedCount"></span>)
                </button>
              </span>
                    </div>
                    <div class="row">
                      <span class=" checkbox col-md-4"><label><input type="checkbox" id="checkAllFiles" value="checkAllFiles">Select
                        all (<%= @dataset.datafiles.count %>) </label></span>
                    </div>
                  </td>
                </tr>
                <% @dataset.datafiles.each do |datafile| %>
                  <tr>
                    <td>
                      <% if datafile.job_status == :complete %>

                        <div class="row checkbox">

                          <span class="col-md-8"><label><input type="checkbox" class="checkFile checkFileGroup" name="selected_files[]" value="<%= datafile.web_id %>"><%= datafile.bytestream_name %>
                          </label></span>
                          <span class="col-md-2"><%= number_to_human_size(datafile.bytestream_size) %></span>
                          <span class="col-md-2"><a href="#" onclick='window.location = "/datafiles/<%= datafile.web_id %>/download"' class="btn btn-primary btn-sm" role="button">
                            <span class="glyphicon glyphicon-download"></span> File
                          </a></span>
                        </div>
                      <% end %>

                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <!-- end select-files-form-group -->
          </form>
        </div>
      </div>
    </div>
  </div>

  <a href="/datasets/<%= @dataset.key %>/review_deposit_agreement">Review Deposit Agreement</a>

  <% if can? :manage, @dataset && @dataset.complete? %>
    <h2>DataCite Record:</h2>
    <% @datacite_record.each do |key, value| %>

      <div class="row">
        <span class="col-md-1"><%= key %>:</span>
        <% if key == "metadata" %>

          <span class="col-md-11"><pre><code><%= value %></code></pre></span>

        <% else %>

          <span class="col-md-11"><%= value %></span>

        <% end %>
      </div>
    <% end %>

  <% end %>

  <% localtitle = @dataset.title.downcase %>

  <% if localtitle.include? 'unicorn' %>
    <div class="pull-right">
      <%= image_tag('Rainbow_Unicorn.png') %>
    </div>
  <% end %>
<% else %>
  <div class="jumbotron"><h2>Must be logged in as the depositor or a curator to view this dataset.</h2></div>

<% end %>
<div id="frames"></div>