<span id="title"><%= @dataset.title %></span>

<div class="container-fluid" id="citation-block">

  <div class="row bg-citation">
    <div id="citation" class="col-md-9" onclick="if (event.target) { selectText(event.target); } else{ selectText(this); }"><%= @dataset.plain_text_citation %></div>
    <div class="col-md-3 text-right" id="citation-download">
      <div class="dropdown">
        <button type="button" id="downloadCitation" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-list"></span> Citation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right text-left" role="menu">
          <li>
            <a id="datasetForm:endNoteLink" href="#" onclick='window.location = "/datasets/<%=@dataset.id%>/download_endNote_XML"'>
              EndNote XML
            </a>
          </li>
          <li>
            <a id="datasetForm:risLink" href="#" onclick='window.location = "/datasets/<%=@dataset.id%>/download_RIS"'>
              RIS Format
            </a>
          </li>
          <li>
            <a id="datasetForm:BibTeXLink" href="#" onclick='window.location = "/datasets/<%=@dataset.id%>/download_BibTeX"'>
              BibTeX Format
            </a>
          </li>
          <li>
            <a id="datasetForm:plainTextCitationLink" href="#" onclick='window.location = "/datasets/<%=@dataset.id%>/download_plaintext_citation"'>
              Plain Text
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row bg-muted">
    <span id="citation-standards" class="col-md-9 text-muted small">If you use these data, please add this citation to your scholarly resources. </span>
      <span class="col-md-3 pull-right text-right">
        <!--<span class="label label-primary">Downloads <span class="badge">42</span></span>-->
      </span>
  </div>
</div>

<div class="container-fluid">
  <p><span class="metadata-label">Data Description: </span>
    <% @dataset.description.empty? ? "[data description not provided]" : @dataset.description %>
  </p>
</div>

<div class="panel-group" id="rights" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="rightsHeading">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#license" href="#collapseRights" aria-expanded="false" aria-controls="collapseRights">
          Rights Information
        </a>
      </h4>
    </div>
    <div id="collapseRights" class="panel-collapse collapse" role="tabpanel" aria-labelledby="rightsHeading">
      <div class="panel-body">
        <%= @dataset.rights.empty? ? "[rights information not provided]" : @dataset.rights %>
      </div>
    </div>
  </div>
</div>
