<% if ((can? :update, @dataset) || @dataset.complete?) %>
  <div class="container-fluid">
    <div class="row">
      <span class="col-md-8" id="title"><%= @dataset.title %></span>
      <% if (can? :update, @dataset) && !@dataset.complete? %>
          <span class="col-md-4">
            <a href = "http://researchdataservice.illinois.edu/contact-us/" class = "btn btn-danger">
              <span class="glyphicon glyphicon-question-sign"></span> Get Help
            </a>

            <%= link_to edit_dataset_path(@dataset), :class => "btn btn-info" do %>
              <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>
            <a id="datasetForm:BibTeXLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/deposit"' class="btn btn-primary" role="button">
              Confirm & Deposit
            </a>
          </span>
      <% end %>
    </div>
  </div>
  <div class="container-fluid" id="citation-block">

    <div class="row bg-citation">
      <div id="citation" class="col-md-9" onclick="if (event.target) { selectText(event.target); } else{ selectText(this); }"><%= @dataset.plain_text_citation %></div>
      <div class="col-md-3 text-right" id="citation-download">
        <div class="dropdown">
          <button type="button" id="downloadCitation" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list"></span> Citation <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right text-left" role="menu">
            <li>
              <a id="datasetForm:endNoteLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_endNote_XML"'>
                EndNote XML
              </a>
            </li>
            <li>
              <a id="datasetForm:risLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_RIS"'>
                RIS Format
              </a>
            </li>
            <li>
              <a id="datasetForm:BibTeXLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_BibTeX"'>
                BibTeX Format
              </a>
            </li>
            <li>
              <a id="datasetForm:plainTextCitationLink" href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/download_plaintext_citation"'>
                Plain Text
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row bg-muted">
      <span id="citation-standards" class="col-md-9 text-muted small">If you use these data, please add this citation to your scholarly resources. </span>
        <span class="col-md-3 pull-right text-right">
          <!--<span class="label label-primary">Downloads <span class="badge">42</span></span>-->
        </span>
    </div>
  </div>

  <div class="container-fluid">
    <span class="metadata-label">Dataset Description: </span>
    <%= @dataset.description.empty? ? "[data description not provided]" : @dataset.description %>
  </div>
  <div class="container-fluid">
    <span class="metadata-label">Corresponding Creator: </span>
    <%= (!@dataset.corresponding_creator_name || @dataset.corresponding_creator_name.empty?) ? "[corresponding creator name not provided]" : @dataset.corresponding_creator_name %>
    <% if can? :manage, @dataset %>
      <span class="metadata-label">Corresponding Creator Email: </span>
      <%= (!@dataset.corresponding_creator_email || @dataset.corresponding_creator_email.empty?) ? "[corresponding creator email not provided]" : @dataset.corresponding_creator_email %>
    <% end %>
  </div>

  <div class="panel-group" id="rights" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="rightsHeading">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#license" href="#collapseRights" aria-expanded="false" aria-controls="collapseRights">
            License
          </a>
        </h4>
      </div>
      <div id="collapseRights" class="panel-collapse collapse" role="tabpanel" aria-labelledby="rightsHeading">
        <div class="panel-body">
          <%= @dataset.license.empty? ? "[license information not provided]" : @dataset.license %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-group" id="files" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#files" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Files
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <form role="form">
            <div class="form-group" id="select-files-form-group">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td>
                    <div class="row">
              <span class="col-md-4">
                <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-download"></span> Zip and Download Selected
                  (<span id="checkFileSelectedCount"></span>)
                </button>
              </span>
                    </div>
                    <div class="row">
                      <span class=" checkbox col-md-4"><label><input type="checkbox" id="checkAllFiles" value="checkAllFiles">Select
                        all (<%= @dataset.datafiles.count %>) </label></span>
                    </div>
                  </td>
                </tr>

                <% @dataset.datafiles.each do |datafile| %>
                  <% if datafile.master_bytestream && !datafile.master_bytestream.nil? %>

                    <% binary = datafile.master_bytestream %>
                    <tr>
                      <td>
                        <div class="row checkbox">

            <span class="col-md-4"><label><input type="checkbox" class="checkFile checkFileGroup" name="selected_files[]" value="<%= binary.id %>"><%= binary.filename %>
            </label></span>
                          <span class="col-md-6"><%= datafile.description %></span>

                          <span class="col-md-1"><%= number_to_human_size(binary.byte_size) %></span>
                        <span class="col-md-1"><a href="#" onclick='window.location = "/datasets/<%=@dataset.key%>/stream_file/<%= datafile.web_id %>"' class="btn btn-block btn-primary btn-sm" role="button">
                          <span class="glyphicon glyphicon-download"></span> File
                        </a></span>
                        </div>
                      </td>
                    </tr>
                  <% end %>

                <% end %>
                </tbody>
              </table>

            </div>
            <!-- end select-files-form-group -->
          </form>
        </div>
      </div>
    </div>
  </div>

  <% localtitle = @dataset.title.downcase %>

  <% if localtitle.include? 'unicorn' %>
    <div class="pull-right">
      <%= image_tag('Rainbow_Unicorn.png') %>
    </div>
  <% end %>
<% else %>
  <div class="jumbotron"><h2>Must be logged in as the depositor or a curator to view this dataset.</h2></div>

<% end %>