<p id="notice"><%= notice %></p>

<h1>Listing Datafiles for Curators</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Binary</th>
      <th>Web_id</th>
      <th>Dataset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datafiles.each do |datafile| %>
    <% if (can? :manage, datafile) %>
      <tr>
        <td><%= link_to "datafile/#{datafile.web_id}/download", :class => "btn btn-primary btn-sm" do %>
            <span class="glyphicon glyphicon-download"></span> Download
          <% end %></td>
        <td><%= datafile.binary %></td>
        <td><%= datafile.web_id %></td>
        <td><%= datafile.dataset_id %></td>
        <td>

          <%= link_to datafile_path(datafile.web_id), :class => "btn btn-primary btn-sm" do %>
            <span class="glyphicon glyphicon-zoom-in"></span> View
          <% end %>

        </td>
        <td>

          <%= link_to edit_datafile_path(datafile.web_id), :class => "btn btn-info btn-sm" do %>
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>

        </td>
        <td>
          <%= link_to datafile_path(datafile.web_id), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-sm" do %>
            <span class="glyphicon glyphicon-trash"></span> Delete
          <% end %>
        </td>

      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>