<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @datafile.description %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @datafile.binary %>
</p>

<p>
  <strong>Web:</strong>
  <%= @datafile.web_id %>
</p>

<p>
  <strong>Dataset:</strong>
  <%= @datafile.dataset_id %>
</p>

<%= link_to 'Edit', edit_datafile_path(@datafile) %> |
<%= link_to 'Back', datafiles_path %>
