= form_for @admin do |f|
  - if @admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error")} prohibited this admin from being saved:"
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li= msg

  .field
    .form-group
      = f.label :read_only_alert, class: "control-label", value: "Read Only Alert Custom Message Segment:"
      %br
      %ul
        %li A message saved here will be appended to the default alert message for file-only fallback mode.  This can be used to include instance-specific information, such as expected timeframe for resumption of normal operations.
        %li The alert message will only show when system is in file-only fallback mode.
      = f.text_area :read_only_alert, id: "read-only-alert-text", class: "form-control", value: @admin.read_only_alert
  .actions
    .row
      .col-md-2.col-md-offset-10
        %button(type="submit" class="btn btn-block btn-primary" ) Update
        %button(type="button" class="btn btn-block btn-info" onclick="clear_alert_message()" ) Clear Form