<p id="notice"><%= notice %></p>

<h1>Listing Related Materials</h1>

<table>
  <thead>
    <tr>
      <th>Materialtype</th>
      <th>Availability</th>
      <th>Link</th>
      <th>Uri</th>
      <th>Uri type</th>
      <th>Citation</th>
      <th>Dataset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @related_materials.each do |related_material| %>
      <tr>
        <td><%= related_material.materialType %></td>
        <td><%= related_material.availability %></td>
        <td><%= related_material.link %></td>
        <td><%= related_material.uri %></td>
        <td><%= related_material.uri_type %></td>
        <td><%= related_material.citation %></td>
        <td><%= related_material.dataset_id %></td>
        <td><%= link_to 'Show', related_material %></td>
        <td><%= link_to 'Edit', edit_related_material_path(related_material) %></td>
        <td><%= link_to 'Destroy', related_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Related material', new_related_material_path %>
