<p id="notice"><%= notice %></p>

<h1>Listing Medusa Ingests</h1>

<table>
  <thead>
    <tr>
      <th>Idb class</th>
      <th>Idb identifier</th>
      <th>Staging path</th>
      <th>Request status</th>
      <th>Medusa path</th>
      <th>Medusa uuid</th>
      <th>Response time</th>
      <th>Error text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medusa_ingests.each do |medusa_ingest| %>
      <tr>
        <td><%= medusa_ingest.idb_class %></td>
        <td><%= medusa_ingest.idb_identifier %></td>
        <td><%= medusa_ingest.staging_path %></td>
        <td><%= medusa_ingest.request_status %></td>
        <td><%= medusa_ingest.medusa_path %></td>
        <td><%= medusa_ingest.medusa_uuid %></td>
        <td><%= medusa_ingest.response_time %></td>
        <td><%= medusa_ingest.error_text %></td>
        <td><%= link_to 'Show', medusa_ingest %></td>
        <td><%= link_to 'Edit', edit_medusa_ingest_path(medusa_ingest) %></td>
        <td><%= link_to 'Destroy', medusa_ingest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medusa ingest', new_medusa_ingest_path %>
