<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

Name: <%= @params['help-name'] %>
<br/>
Email: <%= @params['help-email'] %>
<br/>
Topic: <%= @params['help-topic'] %>
<br/>
<% if @params.has_key?('help-dataset') %>
  Dataset: <a href="<%= @params['help-dataset'] %>"><%= @params['help-dataset'] %></a>
<% end %>
<hr/>
<blockquote>
  <%= @params['help-message'] %>
</blockquote>
<hr/>
</body>
</html>