<div data-no-turbolink>
  <!-- Static navbar -->

  <nav class="navbar navbar-default">


    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Illinois Data Bank </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/datasets/pre_deposit"><span class="glyphicon glyphicon-plus"></span> Deposit Dataset</a></li>
        <li>
          <a href="/datasets"><span class="glyphicon glyphicon-search"></span> Find Data</a></li>
        <li>
          <a href="/policies"><span class="glyphicon glyphicon-info-sign"></span> Policies</a></li>
        <li>
          <a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <!--<li>-->
          <!--<a class="idb beta-block" href="/help#contact?context=feedback">-->
            <!--BETA<br/><small>feedback</small>-->
          <!--</a>-->

        <% if current_user %>

          <li><a href="/datasets?q=<%= URI.encode('depositors[]') %>=<%= current_user.username %>"> <%= current_user.name %></a></li>
          <li><%= link_to "Log out", :logout %></li>
        <% else %>

          <% if IDB_CONFIG.has_key?(:local_mode) && IDB_CONFIG[:local_mode] %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log
                In <span class="caret"></span></a>
              <ul class="dropdown-menu login-form">
                <%= form_tag "/auth/identity/callback" do %>
                  <li>
                    <div class="form-group">
                      <%= label_tag :auth_key, "Email", :class => "control-label" %><br/>
                      <%= text_field_tag :auth_key %>
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <%= label_tag :password, "Password", :class => "control-label" %><br/>
                      <%= password_field_tag :password %>
                    </div>
                  </li>
                  <li>
                    <div class="actions">
                      <%= submit_tag "Log In" %><br/>
                      <%= link_to "Create Account", "/auth/identity/register" %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in with NetID", :login %></li>
          <% end %>
        <% end %>
      </ul>

    </div>
    <!--/.nav-collapse -->
  </nav>
</div>