%div{"data-no-turbolink" => ""}
  / Static navbar
  %nav.navbar.navbar-default
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.visible-xs{:href => "/"} Illinois Data Bank
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{:class => "#{'active' if current_page?(new_dataset_path)}"}
          %a{:href => "/datasets/new"}
            %span.glyphicon.glyphicon-plus
            Deposit Dataset
        %li{:class => "#{'active' if current_page?(datasets_path)}"}
          %a{:href => "/datasets"}
            %span.glyphicon.glyphicon-search
            Find Data
        %li{:class => "#{'active' if current_page?(policies_path)}"}
          %a{:href => "/policies"}
            %span.glyphicon.glyphicon-info-sign
            Policies
        %li{:class => "#{'active' if current_page?(help_path)}"}
          %a{:href => "/help"}
            %span.glyphicon.glyphicon-question-sign
            Help
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            %a(href="/datasets?q=#{URI.encode('depositors[]=')}#{current_user.username}" )
              =current_user.name
          %li= link_to "Log out", :logout
        - else
          %li= link_to "Log in with NetID", :login
    / /.nav-collapse
