= simple_form_for(@visualization) do |f|
  = f.error_notification
  .form-inputs
    = f.input :dataset_key
    = f.input :datafile_web_id
    = f.input :data
    = f.input :options
    = f.input :chart_class
  .form-actions
    = f.button :submit
