%p#notice= notice
%h1 Visualizations
%table
  %thead
    %tr
      %th Dataset key
      %th Datafile web
      %th Data
      %th Options
      %th Chart class
      %th{:colspan => "3"}
  %tbody
    - @visualizations.each do |visualization|
      %tr
        %td= visualization.dataset_key
        %td= visualization.datafile_web_id
        %td= visualization.data
        %td= visualization.options
        %td= visualization.chart_class
        %td= link_to 'Show', visualization
        %td= link_to 'Edit', edit_visualization_path(visualization)
        %td= link_to 'Destroy', visualization, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Visualization', new_visualization_path
