%p#notice= notice
\-if (can? :manage, @visualization)
%p
  %strong Dataset key:
  = @visualization.dataset_key
%p
  %strong Datafile web:
  = @visualization.datafile_web_id
%p
  %strong Data:
  = @visualization.data
%p
  %strong Options:
  = @visualization.options
%p
  %strong Chart class:
  = @visualization.chart_class
= link_to 'Edit', edit_visualization_path(@visualization)
|
\#{link_to 'Back', visualizations_path}
