<p id="notice"><%= notice %></p>


-if (can? :manage, @visualization)

  <p>
    <strong>Dataset key:</strong>
    <%= @visualization.dataset_key %>
  </p>

  <p>
    <strong>Datafile web:</strong>
    <%= @visualization.datafile_web_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= @visualization.data %>
  </p>

  <p>
    <strong>Options:</strong>
    <%= @visualization.options %>
  </p>

  <p>
    <strong>Chart class:</strong>
    <%= @visualization.chart_class %>
  </p>

  <%= link_to 'Edit', edit_visualization_path(@visualization) %> |
  <%= link_to 'Back', visualizations_path %>
