.container-fluid
  %h1 Featured Researchers

  - @featured_researchers.each do |featured_researcher|
    .row
      .col-md-4
        -if featured_researcher.photo_url && featured_researcher.photo_url != ""
          .photo-preview
            %img(src="#{featured_researcher.photo_url}" class="img-responsive" alt="featured researcher photo" )
        -else
          .no-image-available
            No photo available.
      .col-md-4
        %strong
          = "#{featured_researcher.name}, #{featured_researcher.title}"
        %br
        =  featured_researcher.bio.html_safe
        %br
        = featured_researcher.testimonial.html_safe

      .col-md-2
        -if(can? :manage, featured_researcher)
          .curator-only
            %a(href="/featured_researchers/#{featured_researcher.id}/preview" class="btn btn-primary btn-block idb") Preview
            %a(href="/featured_researcher/#{featured_researcher.id}/edit" class="btn btn-success btn-block idb" ) Edit
            %a(href="/featured_researcher/#{featured_researcher.id}" class="btn btn-danger btn-block idb" data-method="delete" data-confirm="Are you sure?") Delete
    %hr
= link_to 'New Featured researcher', new_featured_researcher_path, class: "btn btn-warning idb"
