.container-fluid
  %h1 Researcher Spotlights
  %hr

  - @featured_researchers.each do |featured_researcher|
    .row
      .col-md-2
        -if featured_researcher.photo_url && featured_researcher.photo_url != ""
          .photo-preview
            %img(src="#{featured_researcher.photo_url}" class="img-responsive featured-img" alt="featured researcher photo" )
        -else
          .no-image-available
            No photo available.
      .col-md-8
        %strong
          = "#{featured_researcher.name}"
        %br
        =  featured_researcher.bio.html_safe
        %br
        = featured_researcher.testimonial.html_safe

      .col-md-2
        -if(can? :manage, featured_researcher)
          .curator-only
            %a(href="/featured_researchers/#{featured_researcher.id}/preview" class="btn btn-primary btn-block idb") Preview
            %a(href="/featured_researchers/#{featured_researcher.id}/edit" class="btn btn-success btn-block idb" ) Edit
            =link_to '<button class="btn btn-danger btn-block idb elbow ">Delete</button>'.html_safe, featured_researcher, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %hr
-if(can? :manage, FeaturedResearcher)
  .container-fluid
    .row
      .col-md-3.col-md-offset-9.curator-only
        = link_to 'New Featured researcher', new_featured_researcher_path, class: "btn btn-primary btn-block idb"
        %a(href="/featured_researchers/feature_none" class="btn btn-success btn-block elbow idb" ) Clear Researcher Spotlight Selection