<%= simple_form_for(@definition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :term %>
    <%= f.input :meaning %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
