<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset:</strong>
  <%= @creator.dataset_id %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @creator.family_name %>
</p>

<p>
  <strong>Given name:</strong>
  <%= @creator.given_name %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @creator.institution_name %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @creator.identifier %>
</p>

<p>
  <strong>Type:</strong>
  <%= @creator.type %>
</p>

<p>
  <strong>Position:</strong>
  <%= @creator.position %>
</p>

<%= link_to 'Edit', edit_creator_path(@creator) %> |
<%= link_to 'Back', creators_path %>
