= form_tag '/auth/identity/callback' do
  %li
    .form-group
      = label_tag :auth_key, 'Email', class: 'control-label'
      %br
      = text_field_tag :auth_key
  %li
    .form-group
      = label_tag :password, 'Password', class: 'control-label'
      %br
      = password_field_tag :password
  %li
    .actions
      = submit_tag 'Log In'