<p id="notice"><%= notice %></p>

<h1>Listing Funder Infos</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Identifier</th>
      <th>Display position</th>
      <th>Identifier scheme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funder_infos.each do |funder_info| %>
      <tr>
        <td><%= funder_info.code %></td>
        <td><%= funder_info.name %></td>
        <td><%= funder_info.identifier %></td>
        <td><%= funder_info.display_position %></td>
        <td><%= funder_info.identifier_scheme %></td>
        <td><%= link_to 'Show', funder_info %></td>
        <td><%= link_to 'Edit', edit_funder_info_path(funder_info) %></td>
        <td><%= link_to 'Destroy', funder_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funder info', new_funder_info_path %>
