%h1 Pre-publication Review Requests

%h3
  %a(href="/review_requests/report" class="btn btn-primary idb" )
    %span.glyphicon.glyphicon-download
    Download Report

%table
  %thead
    %tr
      %th Dataset
      %th Review Requested at
      %th
      %th
      %th

  %tbody
    - @review_requests.each do |review_request|
      %tr
        %td
          -if review_request.dataset
            -Rails.logger.warn review_request.dataset
            =debug(review_request.dataset)
            =render partial: 'datasets/brief_record', dataset: review_request.dataset
          -else
            %a(href="/datasets/#{review_request.dataset_key}")
              ="#{IDB_CONFIG[:root_url_text]}/datasets/#{review_request.dataset_key}"
        %td= review_request.requested_at.iso8601
        %td= link_to 'Show', review_request
        %td= link_to 'Edit', edit_review_request_path(review_request)
        %td= link_to 'Destroy', review_request, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Review request', new_review_request_path
