<p id="notice"><%= notice %></p>

<h1>Listing Binaries</h1>

<table>
  <thead>
    <tr>
      <th>Datafile</th>
      <th>Dataset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @binaries.each do |binary| %>
      <tr>
        <td><%= binary.datafile %></td>
        <td><%= binary.dataset_id %></td>
        <td><%= link_to 'Show', binary %></td>
        <td><%= link_to 'Edit', edit_binary_path(binary) %></td>
        <td><%= link_to 'Destroy', binary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Binary', new_binary_path %>
