= form_for @deckfile do |f|
  - if @deckfile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deckfile.errors.count, "error")} prohibited this deckfile from being saved:"
      %ul
        - @deckfile.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :disposition
    = f.text_field :disposition
  .field
    = f.label :remove
    = f.check_box :remove
  .field
    = f.label :path
    = f.text_field :path
  .field
    = f.label :dataset_id
    = f.number_field :dataset_id
  .actions
    = f.submit 'Save'
