<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Internet Explorer use the highest version available -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <!--[if IEMobile]>
  <meta http-equiv="cleartype" content="on">
  <![endif]-->

  <title>Illinois Data Bank</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--support import from box-->
  <script type="text/javascript" src="https://app.box.com/js/static/select.js"></script>

  <% if @dataset %>
    <meta name="citation_title" content="<%= @dataset.title %>"/>
    <meta name="citation_author" content="<%= @dataset.creator_list %>"/>
    <meta name="citation_publisher" content="<%= @dataset.publisher %>"/>
    <meta name="citation_publication_date" content="<%= @dataset.publication_year %>"/>
    <meta name="citation_doi" content="<%= @dataset.identifier %>"/>
    <meta name="citation_language" content="en">
  <% end %>
</head>
<body>
<div id="body" class="container-fluid">
  <%= render :partial => 'shared/header_navbar' %>
  <div id="main-container" class="container-fluid tab-content">

    <div class="row">
      <% flash.each do |key, value| %>
        <div class="alert alert-info"><%= sanitize(value) %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>


  <%= render :partial => 'shared/footer' %>
</div>
<% if @dataset %>
  <%= javascript_tag do %>
    window.dataset_key = '<%= j @dataset.key %>';
  <% end%>
<% end %>

</body>
</html>