= render layout: 'left_nav' do
  = render partial: 'framework_and_definitions'
  = render partial: 'access_and_use'
  = render partial: 'accession'
  = render partial: 'deposit_agreement'
  = render partial: 'preservation'
  = render partial: 'preservation_review'
  = render partial: 'withdrawal_guidelines'
  = render partial: 'preservation_guidelines'

